{% import 'app/role_form_input.html.twig' as input %}

<table class="table table-bordered">
    <tbody>
        <tr>
            <td class="bg-success text-light">
                <div class="d-flex justify-content-center"><strong>{{ input.check(indexes, form, 'ROLE_REPORT', 'LAPORAN') }}</strong></div>
            </td>
            <td class="text-center bg-primary text-light" style="width: 10%"><strong>Show</strong></td>
        </tr>
        <tr>
            <td>Pembelian</td>
            <td><div class="d-flex justify-content-center">{{ input.check(indexes, form, 'ROLE_PURCHASE_REPORT') }}</div></td>
        </tr>
        <tr>
            <td>Penjualan</td>
            <td><div class="d-flex justify-content-center">{{ input.check(indexes, form, 'ROLE_SALE_REPORT') }}</div></td>
        </tr>
        <tr>
            <td>Produksi</td>
            <td><div class="d-flex justify-content-center">{{ input.check(indexes, form, 'ROLE_PRODUCTION_REPORT') }}</div></td>
        </tr>
        <tr>
            <td>Gudang Material</td>
            <td><div class="d-flex justify-content-center">{{ input.check(indexes, form, 'ROLE_INVENTORY_MATERIAL_REPORT') }}</div></td>
        </tr>
        <tr>
            <td>Gudang Barang Jadi</td>
            <td><div class="d-flex justify-content-center">{{ input.check(indexes, form, 'ROLE_INVENTORY_FINISHED_GOODS_REPORT') }}</div></td>
        </tr>
        <tr>
            <td>Finance/Accounting</td>
            <td><div class="d-flex justify-content-center">{{ input.check(indexes, form, 'ROLE_FINANCE_REPORT') }}</div></td>
        </tr>
    </tbody>
</table>