{% extends 'layout_page.html.twig' %}

{% block title 'Show Work Order Process' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_work_order_process_index') }}">Manage</a>
    {% if is_granted('ROLE_PROCESS_EDIT') %}
        <a class="btn btn-warning btn-sm" href="{{ path('app_master_work_order_process_edit', {'id': workOrderProcess.id}) }}">Edit</a>
    {% endif %}
    {% if is_granted('ROLE_PROCESS_ADD') %}
        <a class="btn btn-success btn-sm" href="{{ path('app_master_work_order_process_new') }}">Add</a>
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Is Inactive</th>
                <td>{{ workOrderProcess.isInactive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ workOrderProcess.name }}</td>
            </tr>
        </tbody>
    </table>

    {#{{ include('master/work_order_process/_delete_form.html.twig') }}#}
{% endblock %}
