<table class="table table-bordered table-striped">
    <thead>
        <tr class="bg-info">
            <th>Code</th>
            <th>Name</th>
            <th>Up/s Pisau</th>
            <th>Up/s Cetak</th>
            <th>Uk. Cetak</th>
        </tr>
    </thead>
    <tbody>
        {% for lastDiecutKnife in lastDiecutKnives %}
            <tr>
                <td>{{ lastDiecutKnife.codeNumber }}</td>
                <td>{{ lastDiecutKnife.name }}</td>
                <td>{{ lastDiecutKnife.upPerSecondKnife }}</td>
                <td>{{ lastDiecutKnife.upPerSecondPrint }}</td>
                <td>{{ lastDiecutKnife.printingSize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
