{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, purchaseOrderPaperHeaders) }}

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="purchase-order-paper-header-table" data-controller="data-table">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 280px" role="button">
                    PO Kertas #
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Tanggal {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th style="min-width: 250px" role="button" {{ grid.sort_link_item(form, 'supplier:company') }}>
                    Supplier {{ grid.sort_char(form.sort['supplier:company'].vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'purchaseOrderPaperList') }}>
                    Kertas {{ grid.sort_char(form.sort['purchaseOrderPaperList'].vars.value) }}
                </th>
                <th style="min-width: 250px" role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberOrdinal') }} value="{{ form.filter.codeNumberOrdinal.1.vars.value }}" />
                    <span><small>/{{ constant('App\\Entity\\Purchase\\PurchaseOrderPaperHeader::CODE_NUMBER_CONSTANT') }}/</small></span>
                    <select {{ grid.filter_link_item(form, 'codeNumberMonth') }}>
                        {% for value, label in constant('App\\Entity\\PurchaseHeader::MONTH_ROMAN_NUMERALS') %}
                            {% set val = value == 0 ? '' : value %}
                            <option value="{{ val }}" {% if form.filter.codeNumberMonth.1.vars.value == val %}selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberYear') }} value="{{ form.filter.codeNumberYear.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'supplier:company') }} value="{{ form.filter['supplier:company'].1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'purchaseOrderPaperList') }} value="{{ form.filter.purchaseOrderPaperList.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseOrderPaperHeader in purchaseOrderPaperHeaders %}
                <tr data-bs-dismiss="modal" data-action="click->data-table#select" data-data-table-values-param="{{ purchaseOrderPaperHeader.purchaseOrderPaperDetails|filter(purchaseOrderPaperDetail => not purchaseOrderPaperDetail.isCanceled)|slice(0)|map(purchaseOrderPaperDetail => {
                    'purchaseOrderPaperHeaderId': purchaseOrderPaperHeader.id,
                    'purchaseOrderPaperHeaderCodeNumber': purchaseOrderPaperHeader.codeNumber,
                    'purchaseOrderPaperHeaderTransactionDate': purchaseOrderPaperHeader.transactionDate ? purchaseOrderPaperHeader.transactionDate|date('d M Y') : '',
                    'supplierCompany': purchaseOrderPaperHeader.supplier.company,
                    'purchaseOrderPaperDetailId': purchaseOrderPaperDetail.id,
                    'paperId': purchaseOrderPaperDetail.paper.id,
                    'materialOrPaperCode': purchaseOrderPaperDetail.paper.codeNumber,
                    'materialOrPaperName': purchaseOrderPaperDetail.paper.name,
                    'unitName': purchaseOrderPaperDetail.unit.name,
                    'purchaseOrderDetailQuantity': purchaseOrderPaperDetail.quantity|number_format(2),
                    'purchaseOrderDetailRemainingReceive': purchaseOrderPaperDetail.remainingReceive|number_format(2)})|json_encode }}">
                    <td>{{ purchaseOrderPaperHeader.codeNumber }}</td>
                    <td>{{ purchaseOrderPaperHeader.transactionDate ? purchaseOrderPaperHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ purchaseOrderPaperHeader.supplier.company|default }}</td>
                    <td>{{ purchaseOrderPaperHeader.purchaseOrderPaperList }}</td>
                    <td>{{ purchaseOrderPaperHeader.note }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, purchaseOrderPaperHeaders) }}
