<table>
    <thead>
        <tr>
            <th style="text-align: center" colspan="12"><strong>PT. Putracipta Karindomas</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="12"><strong>Laporan Pisau Diecut</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="12">
                <strong>
                    {% set startDate = form.vars.value.filter.date.1|default %}
                    {% set endDate = form.vars.value.filter.date.2|default %}
                    {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
                </strong>
            </th>
        </tr>
        <tr>
            <th colspan="7"></th>
        </tr>
        <tr>
            <th style="text-align: center; width: 100pt"><strong>Customer</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Kode Pisau</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Nama Pisau</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Up/s Pisau</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Up/s Cetak</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Uk. Cetak</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Lokasi</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Note</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Tanggal Pembuatan</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Kode Produk</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Nama Produk</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Deskripsi</strong></th>
        <tr>
            <th colspan="12"></th>
        </tr>
    </thead>
    <tbody>
        {% for diecutKnife in diecutKnifes %}
            {% for diecutKnifeDetail in diecutKnife.diecutKnifeDetails %}
                <tr>
                    <td style="text-align: left">{{ diecutKnife.customer.company|default }}</td>
                    <td style="text-align: left">{{ diecutKnife.codeNumber|default }}</td>
                    <td style="text-align: left">{{ diecutKnife.name|default }}</td>
                    <td style="text-align: left">{{ diecutKnife.upPerSecondKnife|default }}</td>
                    <td style="text-align: left">{{ diecutKnife.upPerSecondPrint|default }}</td>
                    <td style="text-align: left">{{ diecutKnife.printingSize|default }}</td>
                    <td style="text-align: left">{{ diecutKnife.location|default }}</td>
                    <td style="text-align: left">{{ diecutKnife.note|default }}</td>
                    <td style="text-align: left">{{ diecutKnife.date|default ? diecutKnife.date|date('j M Y') }}</td>
                    <td style="text-align: left">{{ diecutKnifeDetail.product.code|default }}</td>
                    <td style="text-align: left">{{ diecutKnifeDetail.product.name|default }}</td>
                    <td style="text-align: left">{{ diecutKnifeDetail.product.productLengthWidthHeightCombination|default }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>