<div class="table-responsive">
    <table class="table table-bordered"
       data-controller="form-collection"
       data-form-collection-start-index-value="{{ form.inventoryProductReceiveDetails|length > 0 ? form.inventoryProductReceiveDetails|last.vars.name + 1 : 0 }}"
       data-form-collection-prototype-value="{{ _self.collection_item(form.inventoryProductReceiveDetails.vars.prototype, form)|e('html_attr') }}"
       data-action="form-collection:collection-item-removed->json-loader#load:self">
        <thead class="table-secondary">
            <tr>
                <th class="d-none">Master Order Product Detail Id</th>
                <th class="d-none">Product Id</th>
                <th style="min-width: 180px">PO #</th>
                <th style="min-width: 150px">WO #</th>
                <th style="min-width: 200px">Kode Barang</th>
                <th style="min-width: 200px">Nama Barang</th>
                <th style="min-width: 150px">Tanggal Kirim</th>
                <th style="min-width: 100px">Qty PO</th>
                <th style="min-width: 150px">Qty Hasil Produksi</th>
                <th style="min-width: 150px">Qty WIP</th>
                <th style="min-width: 150px">Pcs/Box</th>
                <th style="min-width: 150px">Qty Box</th>
                <th style="min-width: 150px">Qty Pcs</th>
                <th style="min-width: 150px">Total Pcs</th>
                <th style="min-width: 100px">Satuan</th>
                <th style="min-width: 200px">Keterangan</th>
                <th style="min-width: 0"></th>
            </tr>
        </thead>
        <tbody data-form-collection-target="items" data-action="master-order-header-table:data-table:select@document->form-collection#clearCollectionItems master-order-header-table:data-table:select@document->form-collection#addCollectionItems master-order-header-table:data-table:select@document->json-loader#load">
            {% macro collection_item(detailForm, form) %}
                <tr data-form-collection-target="item" data-item-identifier-name="masterOrderProductDetailId" data-item-identifier-value="{{ detailForm.vars.value.masterOrderProductDetail.id|default }}" {% if detailForm.isCanceled.vars.data %}class="d-none"{% endif %}>
                    <td class="d-none">{{ form_widget(detailForm.masterOrderProductDetail , {'attr': {'data-item-field-name': 'masterOrderProductDetailId'}}) }}</td>
                    <td class="d-none">{{ form_widget(detailForm.product, {'attr': {'data-item-field-name': 'productId'}}) }}</td>
                    <td data-item-field-name="saleOrderHeaderReferenceNumber">{{ detailForm.vars.value.masterOrderProductDetail.saleOrderDetail.saleOrderHeader.referenceNumber|default }}</td>
                    <td data-item-field-name="masterOrderHeaderCodeNumber">{{ detailForm.vars.value.masterOrderProductDetail.masterOrderHeader.codeNumber|default }}</td>
                    <td data-item-field-name="productCode">{{ detailForm.vars.value.product.code|default }}</td>
                    <td data-item-field-name="productName">{{ detailForm.vars.value.product.name|default }}</td>
                    <td data-item-field-name="saleOrderDetailDeliveryDate">{{ detailForm.vars.value.masterOrderProductDetail.saleOrderDetail.deliveryDate|default ? detailForm.vars.value.masterOrderProductDetail.saleOrderDetail.deliveryDate|date('d M Y') : '' }}</td>
                    <td data-item-field-name="saleOrderDetailQuantity" class="text-center">{{ detailForm.vars.value.masterOrderProductDetail.saleOrderDetail.quantity|default|number_format(0) }}</td>
                    <td data-item-field-name="masterOrderProductDetailQuantityShortage" class="text-center">{{ detailForm.vars.value.masterOrderProductDetail.quantityShortage|default|number_format(0) }}</td>
                    <td data-item-field-name="masterOrderProductDetailRemainingReceive" class="text-center">{{ detailForm.vars.value.masterOrderProductDetail.remainingInventoryReceive|default|number_format(0) }}</td>
                    <td class="text-center">
                        {{ form_row(detailForm.quantityPiecePerBox, {'label': false, 'attr': {
                            'data-action': 'change->json-loader#load',
                            'data-item-field-name': 'masterOrderHeaderPackagingQuantity',
                        }}) }}
                    </td>
                    <td>
                        {{ form_row(detailForm.quantityBox, {'label': false, 'attr': {
                            'size': '5',
                            'data-controller': 'dom-element',
                            'data-action': 'change->dom-element#bind change->json-loader#load',
                            'data-dom-element-bind-specifications-param': [
                                {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$helper.localizer.number($element.value, 0)'}}
                            ]|json_encode,
                        }}) }}
                    </td>
                    <td>
                        {{ form_row(detailForm.quantityBoxExtraPieces, {'label': false, 'attr': {
                            'size': '8',
                            'data-controller': 'dom-element',
                            'data-action': 'change->dom-element#bind change->json-loader#load',
                            'data-dom-element-bind-specifications-param': [
                                {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$helper.localizer.number($element.value, 0)'}}
                            ]|json_encode,
                        }}) }}
                    </td>
                    <td class="text-end" data-json-loader-target="placeholder"
                        data-property-path="inventoryProductReceiveDetails.{{ detailForm.vars.name }}.quantityTotalPieces">
                        {{ detailForm.vars.value.quantityTotalPieces|default|number_format(2) }}
                    </td>
                    <td data-item-field-name="unitName">{{ detailForm.vars.value.product.unit.name|default }}</td>
                    <td>{{ form_row(detailForm.memo, {'label': false, 'attr': {'size': 3}}) }}</td>
                    <td>
                        {% if (detailForm.vars.value.id == null) %}
                            <button type="button" class="btn btn-outline-dark" data-action="form-collection#removeCollectionItem"><i class="bi-x-lg"></i></button>
                        {% else %}
                            <button type="button" class="btn btn-danger"
                                    data-controller="dom-element"
                                    data-action="dom-element#bind json-loader#load"
                                    data-dom-element-bind-specifications-param="{{ [
                                        {'destinationsTarget': '#' ~ detailForm.isCanceled.vars.id, 'action': 'setPropertyValue', 'descriptor': {'property': 'checked', 'value': 'true'}},
                                        {'destinations': '[$element.closest("tr")]', 'action': 'addClass', 'descriptor': {'name': 'd-none'}},
                                    ]|json_encode }}">
                                <i class="bi-x-lg"></i>
                            </button>
                        {% endif %}
                        <div class="d-none">
                            {{ form_row(detailForm.isCanceled) }}
                        </div>
                    </td>
                </tr>
            {% endmacro %}
            {% for detailForm in form.inventoryProductReceiveDetails %}
                {{ _self.collection_item(detailForm, form) }}
            {% endfor %}
        </tbody>
    </table>
</div>
