{% extends 'layout_page.html.twig' %}

{% block title 'Show Payment Type' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_payment_type_index') }}">Manage</a>
    {% if is_granted('ROLE_PAYMENT_TYPE_EDIT') %}
        <a class="btn btn-warning btn-sm" href="{{ path('app_master_payment_type_edit', {'id': paymentType.id}) }}">Edit</a>
    {% endif %}
    {% if is_granted('ROLE_PAYMENT_TYPE_ADD') %}
        <a class="btn btn-success btn-sm" href="{{ path('app_master_payment_type_new') }}">Add</a>
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ paymentType.name }}</td>
            </tr>
            <tr>
                <th>Is Inactive</th>
                <td>{{ paymentType.isInactive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {#{{ include('master/payment_type/_delete_form.html.twig') }}#}
{% endblock %}
