<table>
    <thead>
        <tr>
            <th style="text-align: center" colspan="9"><strong>PT. Putracipta Karindomas</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="9"><strong>Laporan Sales Order</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="9">
                <strong>
                    {% set startDate = form.vars.value.filter.orderReceiveDate.1|default %}
                    {% set endDate = form.vars.value.filter.orderReceiveDate.2|default %}
                    {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
                </strong>
            </th>
        </tr>
        <tr>
            <th style="text-align: center; width: 100pt"><strong>Tanggal Terima</strong></th>
            <th style="text-align: center; width: 100pt"><strong>PO #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Tanggal PO</strong></th>
            <th style="text-align: center; width: 200pt"><strong>Customer</strong></th>
            <th style="text-align: center; width: 200pt"><strong>Nama Produk</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Marketing</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Qty</strong></th>
            <th style="text-align: center; width: 100pt"><strong>ETA</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Harga</strong></th>
            <th style="text-align: center; width: 100pt"><strong>IDR</strong></th>
        </tr>
    </thead>
    <tbody>
        {% set grandTotal = 0 %}
        {% for saleOrderHeader in saleOrderHeaders %}
            {% for saleOrderDetail in saleOrderHeader.saleOrderDetails %}
                <tr>
                    <td style="text-align: left">{{ saleOrderHeader.orderReceiveDate|default ? saleOrderHeader.orderReceiveDate|date('j F Y') }}</td>
                    <td style="text-align: left">{{ saleOrderHeader.referenceNumber|default }}</td>
                    <td style="text-align: left">{{ saleOrderHeader.orderReceiveDate|default ? saleOrderHeader.orderReceiveDate|date('j F Y') }}</td>
                    <td style="text-align: left">{{ saleOrderHeader.customer.company|default }}</td>
                    <td style="text-align: left">{{ saleOrderDetail.product.name|default }}</td>
                    <td style="text-align: left">{{ saleOrderHeader.employee.name|default }}</td>
                    <td style="text-align: center">{{ saleOrderDetail.quantity|default }}</td>
                    <td style="text-align: left">{{ saleOrderDetail.deliveryDate|default ? saleOrderDetail.deliveryDate|date('j F Y') }}</td>
                    <td style="text-align: right">{{ saleOrderDetail.unitPrice|default }}</td>
                    <td style="text-align: right">{{ saleOrderDetail.total|default|round(0) }}</td>
                </tr>
                {% set grandTotal = grandTotal + saleOrderDetail.total|default %}
            {% endfor %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="9" style="text-align: right; font-weight: bold">Total</td>
            <td style="text-align: right; font-weight: bold">{{ grandTotal|default|round(0) }}</td>
        </tr>
    </tfoot>
</table>