{% extends 'layout_page.html.twig' %}

{% block title 'Show Purchase Invoice' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_purchase_purchase_invoice_header_index') }}">Manage</a>
    {% if is_granted('ROLE_PURCHASE_INVOICE_EDIT') %}
        <a class="btn btn-warning btn-sm" href="{{ path('app_purchase_purchase_invoice_header_edit', {'id': purchaseInvoiceHeader.id}) }}">Edit</a>
    {% endif %}
    {% if is_granted('ROLE_PURCHASE_INVOICE_ADD') %}
        <a class="btn btn-success btn-sm" href="{{ path('app_purchase_purchase_invoice_header_new') }}">Add</a>
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Invoice #</th>
                <td>{{ purchaseInvoiceHeader.getCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal Invoice</th>
                <td>{{ purchaseInvoiceHeader.transactionDate ? purchaseInvoiceHeader.transactionDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Tanggal Terima Invoice</th>
                <td>{{ purchaseInvoiceHeader.invoiceReceivedDate ? purchaseInvoiceHeader.invoiceReceivedDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Tanggal Jatuh Tempo</th>
                <td>{{ purchaseInvoiceHeader.dueDate ? purchaseInvoiceHeader.dueDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Supplier Invoice #</th>
                <td>{{ purchaseInvoiceHeader.supplierInvoiceCodeNumber }}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{ purchaseInvoiceHeader.supplier.company }}</td>
            </tr>
            <tr>
                <th>PO #</th>
                <td>{{ purchaseInvoiceHeader.receiveHeader.purchaseOrderHeader is null ? purchaseInvoiceHeader.receiveHeader.purchaseOrderPaperHeader.getCodeNumber|default : purchaseInvoiceHeader.receiveHeader.purchaseOrderHeader.getCodeNumber|default }}</td>
            </tr>
            <tr>
                <th>Penerimaan #</th>
                <td>{{ purchaseInvoiceHeader.receiveHeader.getCodeNumber|default }}</td>
            </tr>
            <tr>
                <th>Supplier SJ #</th>
                <td>{{ purchaseInvoiceHeader.receiveHeader.supplierDeliveryCodeNumber|default }}</td>
            </tr>
            <tr>
                <th>TOP (hari)</th>
                <td>{{ purchaseInvoiceHeader.supplier.paymentTerm|default }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ purchaseInvoiceHeader.supplier.currency.code|default }}</td>
            </tr>
            <tr>
                <th>Faktur Pajak #</th>
                <td>{{ purchaseInvoiceHeader.invoiceTaxCodeNumber }}</td>
            </tr>
            <tr>
                <th>Tanggal Faktur Pajak</th>
                <td>{{ purchaseInvoiceHeader.invoiceTaxDate ? purchaseInvoiceHeader.invoiceTaxDate|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ purchaseInvoiceHeader.transactionStatus }}</td>
            </tr>
            <tr>
                <th>User Created</th>
                <td>{{ purchaseInvoiceHeader.createdTransactionUser.username|default }}</td>
            </tr>
            <tr>
                <th>Created Date</th>
                <td>{{ purchaseInvoiceHeader.createdTransactionDateTime ? purchaseInvoiceHeader.createdTransactionDateTime|date('d M Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>User Edited</th>
                <td>{{ purchaseInvoiceHeader.modifiedTransactionUser.username|default }}</td>
            </tr>
            <tr>
                <th>Edited Date</th>
                <td>{{ purchaseInvoiceHeader.modifiedTransactionDateTime ? purchaseInvoiceHeader.modifiedTransactionDateTime|date('d M Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ purchaseInvoiceHeader.note }}</td>
            </tr>
            <tr>
                <th>Transaction Canceled?</th>
                <td>{{ purchaseInvoiceHeader.isCanceled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Kode</th>
                <th>Nama Material</th>
                <th>Quantity</th>
                <th>Satuan</th>
                <th>Harga</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseInvoiceDetail in purchaseInvoiceHeader.purchaseInvoiceDetails %}
                {% if purchaseInvoiceDetail.isCanceled == false and purchaseInvoiceDetail.quantity > 0 %}
                    <tr>
                        <td>{{ purchaseInvoiceDetail.material is null ? purchaseInvoiceDetail.paper.codeNumber|default : purchaseInvoiceDetail.material.code|default }}</td>
                        <td>{{ purchaseInvoiceDetail.material is null ? purchaseInvoiceDetail.paper.name|default : purchaseInvoiceDetail.material.name|default }}</td>
                        <td style="text-align: center">{{ purchaseInvoiceDetail.quantity|default|number_format(2) }}</td>
                        <td>{{ purchaseInvoiceDetail.unit.name|default }}</td>
                        <td style="text-align: right">{{ purchaseInvoiceDetail.unitPrice|default|number_format(2) }}</td>
                        <td style="text-align: right">{{ purchaseInvoiceDetail.total|default|number_format(2) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Sub Total</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.subTotal|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Disc {{ purchaseInvoiceHeader.discountValue|default }}%</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.discountNominal|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right">
                    <strong>
                        {% if purchaseInvoiceHeader.taxMode == constant('TAX_MODE_NON_TAX', purchaseInvoiceHeader) %}
                            Non PPn 0%
                        {% elseif purchaseInvoiceHeader.taxMode == constant('TAX_MODE_TAX_EXCLUSION', purchaseInvoiceHeader) %}
                            Exclude PPn {{ purchaseInvoiceHeader.taxPercentage }}%
                        {% elseif purchaseInvoiceHeader.taxMode == constant('TAX_MODE_TAX_INCLUSION', purchaseInvoiceHeader) %}
                            Include PPn {{ purchaseInvoiceHeader.taxPercentage }}%
                        {% endif %}
                    </strong>
                </td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.taxNominal|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Grand Total</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.grandTotal|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Total Payment</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.totalPayment|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Total Return</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.totalReturn|default|number_format(2) }}</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right"><strong>Remaining Payment</strong></td>
                <td style="text-align: right"><strong>{{ purchaseInvoiceHeader.remainingPayment|default|number_format(2) }}</strong></td>
            </tr>
        </tfoot>
    </table>

    <legend class="float-none w-auto text-dark px-1">Data Pembayaran</legend>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-warning">
                <th>Pembayaran #</th>
                <th>Tanggal</th>
                <th>Cek/Giro #</th>
                <th>Tanggal Cek/Giro</th>
                <th>Memo</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for purchasePaymentDetail in purchaseInvoiceHeader.purchasePaymentDetails %}
                <tr>
                    <td>{{ purchasePaymentDetail.purchasePaymentHeader.codeNumber|default }}</td>
                    <td>{{ purchasePaymentDetail.purchasePaymentHeader.transactionDate ? purchasePaymentDetail.purchasePaymentHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ purchasePaymentDetail.purchasePaymentHeader.referenceNumber|default }}</td>
                    <td>{{ purchasePaymentDetail.purchasePaymentHeader.referenceDate ? purchasePaymentDetail.purchasePaymentHeader.referenceDate|date('d M Y') : '' }}</td>
                    <td>{{ purchasePaymentDetail.memo|default }}</td>
                    <td style="text-align: right">{{ purchasePaymentDetail.amount|default|number_format(2) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {#{{ include('purchase/purchase_invoice_header/_delete_form.html.twig') }}#}
{% endblock %}
