{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, purchaseRequestPaperHeaders) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 280px" role="button"{{ grid.sort_link_item(form, ['codeNumberOrdinal', 'codeNumberMonth', 'codeNumberYear']) }}>
                    Request # {{ grid.sort_char(form.sort.codeNumberOrdinal.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Tanggal {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'warehouse:name') }}>
                    Gudang {{ grid.sort_char(form.sort['warehouse:name'].vars.value) }}
                </th>
                <th style="min-width: 350px" role="button" {{ grid.sort_link_item(form, 'purchaseRequestPaperList') }}>
                    Kertas {{ grid.sort_char(form.sort['purchaseRequestPaperList'].vars.value) }}
                </th>
                <th style="min-width: 250px" role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
                <th style="min-width: 100px" role="button" {{ grid.sort_link_item(form, 'transactionStatus') }}>
                    Status {{ grid.sort_char(form.sort.transactionStatus.vars.value) }}
                </th>
                <th style="min-width: 90px"></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberOrdinal') }} value="{{ form.filter.codeNumberOrdinal.1.vars.value }}" />
                    <span><small>/{{ constant('App\\Entity\\Purchase\\PurchaseRequestPaperHeader::CODE_NUMBER_CONSTANT') }}/</small></span>
                    <select {{ grid.filter_link_item(form, 'codeNumberMonth') }}>
                        {% for value, label in constant('App\\Entity\\PurchaseHeader::MONTH_ROMAN_NUMERALS') %}
                            {% set val = value == 0 ? '' : value %}
                            <option value="{{ val }}" {% if form.filter.codeNumberMonth.1.vars.value == val %}selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    <span><small>/</small></span>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberYear') }} value="{{ form.filter.codeNumberYear.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control readonly-form-input" type="text" data-controller="flatpickr-element" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th>
                    <select class="form-select" {{ grid.filter_link_item(form, 'warehouse') }}>
                        <option value="" {% if form.filter.warehouse.1.vars.value == '' %}selected="selected"{% endif %}></option>
                        {% for choice in form.filter.warehouse.1.vars.choices %}
                            <option value="{{ choice.value }}" {% if form.filter.warehouse.1.vars.value == choice.value %}selected="selected"{% endif %}>{{ choice.label }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'purchaseRequestPaperList') }} value="{{ form.filter.purchaseRequestPaperList.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'transactionStatus') }} value="{{ form.filter.transactionStatus.1.vars.value }}" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseRequestPaperHeader in purchaseRequestPaperHeaders %}
                <tr>
                    <td>{{ purchaseRequestPaperHeader.codeNumber }}</td>
                    <td>{{ purchaseRequestPaperHeader.transactionDate ? purchaseRequestPaperHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ purchaseRequestPaperHeader.warehouse.name|default }}</td>
                    <td>{{ purchaseRequestPaperHeader.purchaseRequestPaperList }}</td>
                    <td>{{ purchaseRequestPaperHeader.note }}</td>
                    <td>{{ purchaseRequestPaperHeader.transactionStatus }}</td>
                    <td>
                        {% if is_granted('ROLE_PURCHASE_REQUEST_PAPER_VIEW') or is_granted('ROLE_PURCHASE_REQUEST_PAPER_EDIT') or is_granted('ROLE_PURCHASE_REQUEST_PAPER_ADD') %}
                            <a class="btn btn-info btn-sm" href="{{ path('app_purchase_purchase_request_paper_header_show', {'id': purchaseRequestPaperHeader.id}) }}"><i class="bi-search"></i></a>
                        {% endif %}
                        {% if is_granted('ROLE_PURCHASE_REQUEST_PAPER_EDIT') %}
                            <a class="btn btn-warning btn-sm" href="{{ path('app_purchase_purchase_request_paper_header_edit', {'id': purchaseRequestPaperHeader.id}) }}"><i class="bi-pencil"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, purchaseRequestPaperHeaders) }}
