<table>
    <thead>
        <tr>
            <th style="text-align: center" colspan="7"><strong>PT. Putracipta Karindomas</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7"><strong>Laporan Purchase Invoice</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7">
                <strong>
                    {% set startDate = form.vars.value.filter.transactionDate.1|default %}
                    {% set endDate = form.vars.value.filter.transactionDate.2|default %}
                    {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
                </strong>
            </th>
        </tr>
        <tr>
            <th colspan="7"></th>
        </tr>
        <tr>
            <th style="text-align: center; width: 100pt"><strong>Invoice #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Tanggal</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Supplier</strong></th>
            <th style="text-align: center; width: 100pt"><strong>F. Pajak #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>TOP (hari)</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Jatuh Tempo</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Currency</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Note</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Kode</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Nama Material</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Qty</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Satuan</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Harga</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Total</strong></th>
        </tr>
        <tr>
            <th colspan="7"></th>
        </tr>
    </thead>
    <tbody>
        {% for purchaseInvoiceHeader in purchaseInvoiceHeaders %}
            {% for purchaseInvoiceDetail in purchaseInvoiceHeader.purchaseInvoiceDetails %}
                <tr>
                    <td style="text-align: left">{{ purchaseInvoiceHeader.supplierInvoiceCodeNumber|default }}</td>
                    <td style="text-align: left">{{ purchaseInvoiceHeader.transactionDate|default ? purchaseInvoiceHeader.transactionDate|date('j M Y') }}</td>
                    <td style="text-align: left">{{ purchaseInvoiceHeader.supplier.company|default }}</td>
                    <td style="text-align: left">{{ purchaseInvoiceHeader.invoiceTaxCodeNumber|default }}</td>
                    <td style="text-align: left">{{ purchaseInvoiceHeader.supplier.paymentTerm|default }}</td>
                    <td style="text-align: left">{{ purchaseInvoiceHeader.dueDate|default ? purchaseInvoiceHeader.dueDate|date('j M Y') }}</td>
                    <td style="text-align: left">{{ purchaseInvoiceHeader.supplier.currency.code|default }}</td>
                    <td style="text-align: left">{{ purchaseInvoiceHeader.note|default }}</td>
                    <td style="text-align: left">{{ purchaseInvoiceDetail.material is null ? purchaseInvoiceDetail.paper.codeNumber|default : purchaseInvoiceDetail.material.code|default }}</td>
                    <td style="text-align: left">{{ purchaseInvoiceDetail.material is null ? purchaseInvoiceDetail.paper.paperNameSizeCombination|default : purchaseInvoiceDetail.material.name|default }}</td>
                    <td style="text-align: left">{{ purchaseInvoiceDetail.quantity|default }}</td>
                    <td style="text-align: left">{{ purchaseInvoiceDetail.unit.name|default }}</td>
                    <td style="text-align: right">{{ purchaseInvoiceDetail.unitPrice|default }}</td>
                    <td style="text-align: right">{{ purchaseInvoiceDetail.total|default }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>