<table>
    <thead>
        <tr>
            <th style="text-align: center" colspan="7"><strong>PT. Putracipta Karindomas</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7"><strong>Laporan Sales Invoice</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7">
                <strong>
                    {% set startDate = form.vars.value.filter.transactionDate.1|default %}
                    {% set endDate = form.vars.value.filter.transactionDate.2|default %}
                    {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
                </strong>
            </th>
        </tr>
        <tr>
            <th colspan="7"></th>
        </tr>
        <tr>
            <th style="text-align: center; width: 100pt"><strong>Invoice #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Tanggal</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Customer</strong></th>
            <th style="text-align: center; width: 100pt"><strong>PO #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>F. Pajak #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Tanggal Pajak</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Jatuh Tempo</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Status</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Note</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Kode</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Nama Product</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Qty</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Satuan</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Harga</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Total</strong></th>
        </tr>
    </thead>
    <tbody>
        {% for saleInvoiceHeader in saleInvoiceHeaders %}
            {% for saleInvoiceDetail in saleInvoiceHeader.saleInvoiceDetails %}
                <tr>
                    <td style="text-align: left">{{ saleInvoiceHeader.codeNumber|default }}</td>
                    <td style="text-align: left">{{ saleInvoiceHeader.transactionDate|default ? saleInvoiceHeader.transactionDate|date('j M Y') }}</td>
                    <td style="text-align: left">{{ saleInvoiceHeader.customer.company|default }}</td>
                    <td style="text-align: left">{{ saleInvoiceHeader.saleOrderReferenceNumbers|default }}</td>
                    <td style="text-align: left">{{ saleInvoiceHeader.invoiceTaxCodeNumber|default }}</td>
                    <td style="text-align: left">{{ saleInvoiceHeader.invoiceTaxDate|default ? saleInvoiceHeader.invoiceTaxDate|date('j M Y') }}</td>
                    <td style="text-align: left">{{ saleInvoiceHeader.dueDate|default ? saleInvoiceHeader.dueDate|date('j M Y') }}</td>
                    <td style="text-align: left">{{ saleInvoiceHeader.transactionStatus|default }}</td>
                    <td style="text-align: left">{{ saleInvoiceHeader.note|default }}</td>
                    <td style="text-align: left">{{ saleInvoiceDetail.product.code|default }}</td>
                    <td style="text-align: left">{{ saleInvoiceDetail.product.name|default }}</td>
                    <td style="text-align: left">{{ saleInvoiceDetail.quantity|default }}</td>
                    <td style="text-align: left">{{ saleInvoiceDetail.unit.name|default }}</td>
                    <td style="text-align: right">{{ saleInvoiceDetail.unitPrice|default }}</td>
                    <td style="text-align: right">{{ saleInvoiceDetail.total|default|round(0) }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>