{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, purchaseRequestPaperDetails) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th style="min-width: 150px">Request Paper #</th>
                <th style="min-width: 120px">Tanggal</th>
                <th style="min-width: 150px">Gudang</th>
                <th style="min-width: 150px">Paper Code</th>
                <th style="min-width: 250px">Paper Name</th>
                <th style="min-width: 150px">Tgl Pakai</th>
                <th style="min-width: 100px">Qty</th>
                <th style="min-width: 80px">Satuan</th>
                <th style="min-width: 150px">Keterangan</th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseRequestPaperDetail in purchaseRequestPaperDetails %}
                <tr>
                    <td>{{ purchaseRequestPaperDetail.purchaseRequestPaperHeader.codeNumber }}</td>
                    <td>{{ purchaseRequestPaperDetail.purchaseRequestPaperHeader.transactionDate ? purchaseRequestPaperDetail.purchaseRequestPaperHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ purchaseRequestPaperDetail.purchaseRequestPaperHeader.warehouse.name|default }}</td>
                    <td>{{ purchaseRequestPaperDetail.paper.codeNumber|default }}</td>
                    <td>{{ purchaseRequestPaperDetail.paper.name|default }}</td>
                    <td>{{ purchaseRequestPaperDetail.usageDate ? purchaseRequestPaperDetail.usageDate|date('d M Y') : '' }}</td>
                    <td style="text-align: right">{{ purchaseRequestPaperDetail.quantity|default|number_format(0) }}</td>
                    <td>{{ purchaseRequestPaperDetail.unit.name|default }}</td>
                    <td>{{ purchaseRequestDetail.memo|default }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, purchaseRequestPaperDetails) }}
