<table>
    <thead>
        <tr>
            <th style="text-align: center" colspan="10"><strong>PT. Putracipta Karindomas</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="10"><strong>Laporan Pengeluaran Material</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="10">
                <strong>
                    {% set startDate = form.vars.value.filter.transactionDate.1|default %}
                    {% set endDate = form.vars.value.filter.transactionDate.2|default %}
                    {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
                </strong>
            </th>
        </tr>
        <tr>
            <th colspan="10"></th>
        </tr>
        <tr>
            <th style="text-align: center; width: 100pt"><strong>Pengeluaran #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Tanggal</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Gudang</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Jenis</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Note</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Kode</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Nama Item</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Qty Keluar</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Satuan</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Memo</strong></th>
        </tr>
        <tr>
            <th colspan="10"></th>
        </tr>
    </thead>
    <tbody>
        {% for inventoryReleaseMaterialDetail in inventoryReleaseMaterialDetails %}
            <tr>
                <td style="text-align: left">{{ inventoryReleaseMaterialDetail.inventoryReleaseHeader.codeNumber|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseMaterialDetail.inventoryReleaseHeader.transactionDate|default ? inventoryReleaseMaterialDetail.inventoryReleaseHeader.transactionDate|date('j M Y') }}</td>
                <td style="text-align: left">{{ inventoryReleaseMaterialDetail.inventoryReleaseHeader.warehouse.name|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseMaterialDetail.inventoryReleaseHeader.releaseMode|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseMaterialDetail.inventoryReleaseHeader.note|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseMaterialDetail.material.code|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseMaterialDetail.material.name|default }}</td>
                <td style="text-align: center">{{ inventoryReleaseMaterialDetail.quantity|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseMaterialDetail.unit.name|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseMaterialDetail.memo|default }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>