{% import 'app/data_grid.html.twig' as grid %}

<div class="d-print-none">
    {{ grid.form(form) }}

    <div class="my-3 px-3 bg-light" {{ grid.filter_link(form) }}>
        <div class="row">
            <div class="col">
                <div class="my-2 row">
                    <label class="col-sm-2 col-form-label w-25">Warehouse</label>
                    <div class="col-sm-10 w-75">
                        <select class="form-select" {{ grid.filter_link_item(form, 'inventoryReleaseHeader:warehouse') }}>
                            <option value="" {% if form.filter['inventoryReleaseHeader:warehouse'].1.vars.value == '' %}selected="selected"{% endif %}></option>
                            {% for choice in form.filter['inventoryReleaseHeader:warehouse'].1.vars.choices %}
                                <option value="{{ choice.value }}" {% if form.filter['inventoryReleaseHeader:warehouse'].1.vars.value == choice.value %}selected="selected"{% endif %}>{{ choice.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="my-2 row">
                    <label class="col-sm-2 col-form-label w-25">Note</label>
                    <div class="col-sm-10 w-75">
                        <input class="form-control" type="text" {{ grid.filter_link_item(form, 'inventoryReleaseHeader:note') }} value="{{ form.filter['inventoryReleaseHeader:note'].1.vars.value }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="my-2 row">
                    <label class="col-sm-2 col-form-label w-25">Date</label>
                    <div class="col-sm-10 w-75">
                        <input class="form-control readonly-form-input" type="text" data-controller="flatpickr-element" {{ grid.filter_link_item(form, ['inventoryReleaseHeader:transactionDate'], [form.filter['inventoryReleaseHeader:transactionDate'].0.vars.choices.0.value, true, false]) }} value="{{ form.filter['inventoryReleaseHeader:transactionDate'].1.vars.value }}" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="my-2 row">
                    <label class="col-sm-2 col-form-label w-25">Memo</label>
                    <div class="col-sm-10 w-75">
                        <input class="form-control" type="text" {{ grid.filter_link_item(form, 'memo') }} value="{{ form.filter.memo.1.vars.value }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="my-2 row">
                    <label class="col-sm-2 col-form-label w-25">Material Code</label>
                    <div class="col-sm-10 w-75">
                        <input class="form-control" type="text" {{ grid.filter_link_item(form, 'material:code') }} value="{{ form.filter['material:code'].1.vars.value }}" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="my-2 row">
                    <label class="col-sm-2 col-form-label w-25">Material Name</label>
                    <div class="col-sm-10 w-75">
                        <input class="form-control" type="text" {{ grid.filter_link_item(form, 'material:name') }} value="{{ form.filter['material:name'].1.vars.value }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-grid">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary btn-sm"
                        data-controller="redirection"
                        data-redirection-url-value="{{ path('app_report_inventory_release_material_detail__list') }}"
                        data-redirection-form-target-value="form[name={{ form.vars.name }}]"
                        data-redirection-extra-values-param="{{ {export: 'export'}|json_encode }}"
                        data-action="redirection#redirect">
                    Export
                </button>
            </div>
        </div>
    </div>

    {{ grid.info(form, count, inventoryReleaseMaterialDetails) }}

    <hr />
</div>

<div class="report">
    <div class="report-header">
        <div class="report-title">PT. Putracipta Karindomas</div>
        <div class="report-title">Laporan Pengeluaran Material</div>
    </div>

    <br />

    <table class="report-data">
        <thead class="border-top-solid-bold border-bottom-solid-bold">
            <tr>
                <th class="text-start">Pengeluaran #</th>
                <th class="text-start">Tanggal</th>
                <th class="text-start">Gudang</th>
                <th class="text-start">Jenis</th>
                <th class="text-start">Note</th>
                <th class="text-start">Kode</th>
                <th class="text-start">Nama Item</th>
                <th class="text-start">Qty Keluar</th>
                <th class="text-start">Satuan</th>
                <th class="text-start">Memo</th>
            </tr>
        </thead>
        <tbody class="border-top-solid-bold border-bottom-solid-bold">
            {% for inventoryReleaseMaterialDetail in inventoryReleaseMaterialDetails %}
                <tr>
                    <td class="text-start">{{ inventoryReleaseMaterialDetail.inventoryReleaseHeader.codeNumber|default }}</td>
                    <td class="text-start">{{ inventoryReleaseMaterialDetail.inventoryReleaseHeader.transactionDate|default ? inventoryReleaseMaterialDetail.inventoryReleaseHeader.transactionDate|date('j M Y') }}</td>
                    <td class="text-start">{{ inventoryReleaseMaterialDetail.inventoryReleaseHeader.warehouse.name|default }}</td>
                    <td class="text-start">{{ inventoryReleaseMaterialDetail.inventoryReleaseHeader.releaseMode|default }}</td>
                    <td class="text-start">{{ inventoryReleaseMaterialDetail.inventoryReleaseHeader.note|default }}</td>
                    <td class="text-start">{{ inventoryReleaseMaterialDetail.material.code|default }}</td>
                    <td class="text-start">{{ inventoryReleaseMaterialDetail.material.name|default }}</td>
                    <td class="text-center">{{ inventoryReleaseMaterialDetail.quantity|default|number_format(0) }}</td>
                    <td class="text-start">{{ inventoryReleaseMaterialDetail.unit.name|default }}</td>
                    <td class="text-start">{{ inventoryReleaseMaterialDetail.memo|default }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-print-none">
    <br />
    {{ grid.navigation(form, count, inventoryReleaseMaterialDetails) }}
</div>
