{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, currencies) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 280px" role="button" {{ grid.sort_link_item(form, 'code') }}>
                    Code {{ grid.sort_char(form.sort.code.vars.value) }}
                </th>
                <th style="min-width: 280px" role="button" {{ grid.sort_link_item(form, 'name') }}>
                    Name {{ grid.sort_char(form.sort.name.vars.value) }}
                </th>
                <th style="min-width: 50px" role="button" {{ grid.sort_link_item(form, 'isInactive') }}>
                    Inactive {{ grid.sort_char(form.sort.isInactive.vars.value) }}
                </th>
                <th style="min-width: 90px"></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'code') }} value="{{ form.filter.code.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'name') }} value="{{ form.filter.name.1.vars.value }}" />
                </th>
                <th>
                    <select class="form-select" {{ grid.filter_link_item(form, 'isInactive') }}>
                        <option value="" {% if form.filter.isInactive.1.vars.value == '' %}selected="selected"{% endif %}></option>
                        {% for choice in form.filter.isInactive.1.vars.choices %}
                            <option value="{{ choice.value }}" {% if form.filter.isInactive.1.vars.value == choice.value %}selected="selected"{% endif %}>{{ choice.label }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for currency in currencies %}
                <tr>
                    <td>{{ currency.code }}</td>
                    <td>{{ currency.name }}</td>
                    <td>{{ currency.isInactive ? 'Yes' : 'No' }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path('app_master_currency_show', {'id': currency.id}) }}"><i class="bi-search"></i></a>
                        <a class="btn btn-warning btn-sm" href="{{ path('app_master_currency_edit', {'id': currency.id}) }}"><i class="bi-pencil"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, currencies) }}
