{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, saleInvoiceHeaders) }}

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="sale-invoice-header-table" 
           data-controller="data-table"
               data-data-table-selected-identifiers-target-value="#paper-table-identifiers"
               data-data-table-selected-class="table-primary"
               data-data-table-active-class="table-active">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 280px" role="button"{{ grid.sort_link_item(form, ['codeNumberOrdinal', 'codeNumberMonth', 'codeNumberYear']) }}>
                    Invoice # {{ grid.sort_char(form.sort.codeNumberOrdinal.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Tanggal Invoice {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th style="min-width: 200px" role="button" {{ grid.sort_link_item(form, 'saleOrderReferenceNumbers') }}>
                    PO # {{ grid.sort_char(form.sort.saleOrderReferenceNumbers.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'grandTotal') }}>
                    Total {{ grid.sort_char(form.sort.grandTotal.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'totalPayment') }}>
                    Payment {{ grid.sort_char(form.sort.totalPayment.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'totalReturn') }}>
                    Return {{ grid.sort_char(form.sort.totalReturn.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'remainingPayment') }}>
                    Remaining {{ grid.sort_char(form.sort.remainingPayment.vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberOrdinal') }} value="{{ form.filter.codeNumberOrdinal.1.vars.value }}" />
                    <span><small>/{{ constant('App\\Entity\\Sale\\SaleInvoiceHeader::CODE_NUMBER_CONSTANT') }}/</small></span>
                    <select {{ grid.filter_link_item(form, 'codeNumberMonth') }}>
                        {% for value, label in constant('App\\Entity\\SaleHeader::MONTH_ROMAN_NUMERALS') %}
                            {% set val = value == 0 ? '' : value %}
                            <option value="{{ val }}" {% if form.filter.codeNumberMonth.1.vars.value == val %}selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    <span><small>/</small></span>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberYear') }} value="{{ form.filter.codeNumberYear.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'saleOrderReferenceNumbers') }} value="{{ form.filter.saleOrderReferenceNumbers.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'grandTotal') }} value="{{ form.filter.grandTotal.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'totalPayment') }} value="{{ form.filter.totalPayment.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'totalReturn') }} value="{{ form.filter.totalReturn.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'remainingPayment') }} value="{{ form.filter.remainingPayment.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
            </tr>
        </thead>
        <tbody>
            {% for saleInvoiceHeader in saleInvoiceHeaders %}
                <tr data-data-table-target="selectable" data-selected-identifier="{{ saleInvoiceHeader.id }}" data-action="click->data-table#select" data-data-table-values-param="{{ {
                    'saleInvoiceHeaderId': saleInvoiceHeader.id, 
                    'saleInvoiceHeaderCodeNumber': saleInvoiceHeader.codeNumber, 
                    'saleInvoiceHeaderRemainingPayment': saleInvoiceHeader.remainingPayment|number_format(0)}|json_encode }}">
                    <td>{{ saleInvoiceHeader.codeNumber|default }}</td>
                    <td>{{ saleInvoiceHeader.transactionDate ? saleInvoiceHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ saleInvoiceHeader.saleOrderReferenceNumbers|default }}</td>
                    <td class="text-end">{{ saleInvoiceHeader.grandTotal|number_format(0) }}</td>
                    <td class="text-end">{{ saleInvoiceHeader.totalPayment|number_format(0) }}</td>
                    <td class="text-end">{{ saleInvoiceHeader.totalReturn|number_format(0) }}</td>
                    <td class="text-end">{{ saleInvoiceHeader.remainingPayment|number_format(0) }}</td>
                    <td>{{ saleInvoiceHeader.note|default }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, saleInvoiceHeaders) }}
