<table>
    <thead>
        <tr>
            <th style="text-align: center" colspan="4"><strong>PT. Putracipta Karindomas</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="4"><strong>Laporan Stok Gudang Finished Goods</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="4">
                <strong>
                    {% set endDate = form.vars.value.filter['inventory:transactionDate'].1|default %}
                    {{ endDate ? endDate|date('j F Y') }}
                </strong>
            </th>
        </tr>
        <tr>
            <th colspan="4"></th>
        </tr>
        <tr>
            <th style="text-align: center; width: 100pt"><strong>Kode</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Nama Item</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Customer</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Stok</strong></th>
        </tr>
        <tr>
            <th colspan="4"></th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            {% set endingStock = endingStockList[product.id]|default(0) %}
            {% if (endingStock != 0) %}
                <tr>
                    <td style="text-align: left">{{ product.code|default }}</td>
                    <td style="text-align: left">{{ product.name|default }}</td>
                    <td style="text-align: left">{{ product.customer.company|default }}</td>
                    <td style="text-align: center">{{ endingStock|default }}</td>
                </tr>
                <tr>
                    <th colspan="4"></th>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>