{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, deliveryDetails) }}

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="delivery-detail-table" 
           data-controller="data-table"
               data-data-table-selected-identifiers-target-value="#paper-table-identifiers"
               data-data-table-selected-class="table-primary"
               data-data-table-active-class="table-active">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 150px">
                    Pengiriman #
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'saleOrderHeader:referenceNumber') }}>
                    PO # {{ grid.sort_char(form.sort['saleOrderHeader:referenceNumber'].vars.value) }}
                </th>
                <th style="min-width: 200px" role="button" {{ grid.sort_link_item(form, 'product:code') }}>
                    Code {{ grid.sort_char(form.sort['product:code'].vars.value) }}
                </th>
                <th style="min-width: 350px" role="button" {{ grid.sort_link_item(form, 'product:name') }}>
                    Name {{ grid.sort_char(form.sort['product:name'].vars.value) }}
                </th>
                <th style="min-width: 100px" role="button" {{ grid.sort_link_item(form, 'quantity') }}>
                    Quantity {{ grid.sort_char(form.sort.quantity.vars.value) }}
                </th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th></th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'saleOrderHeader:referenceNumber') }} value="{{ form.filter['saleOrderHeader:referenceNumber'].1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'product:code') }} value="{{ form.filter['product:code'].1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'product:name') }} value="{{ form.filter['product:name'].1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'quantity') }} value="{{ form.filter.quantity.1.vars.value }}" />
                </th>
            </tr>
        </thead>
        <tbody>
            {% for deliveryDetail in deliveryDetails %}
                <tr data-data-table-target="selectable" data-selected-identifier="{{ deliveryDetail.id }}" data-action="click->data-table#select" data-data-table-values-param="{{ {
                    'deliveryDetailId': deliveryDetail.id, 
                    'productName': deliveryDetail.product.name|default, 
                    'productCode': deliveryDetail.product.code|default, 
                    'saleOrderHeaderReferenceNumber': deliveryDetail.saleOrderDetail.SaleOrderHeader.referenceNumber|default, 
                    'quantity': deliveryDetail.quantity|default|number_format(0), 
                    'unitPrice': deliveryDetail.saleOrderDetail.unitPriceBeforeTax|default|number_format(6),
                    'total': deliveryDetail.total|default|number_format(2),
                    'unitName': deliveryDetail.unit.name}|json_encode }}">
                    <td>{{ deliveryDetail.deliveryHeader.codeNumber }}</td>
                    <td>{{ deliveryDetail.saleOrderDetail.saleOrderHeader.referenceNumber|default }}</td>
                    <td>{{ deliveryDetail.product.code|default }}</td>
                    <td>{{ deliveryDetail.product.name|default }}</td>
                    <td class="text-end">{{ deliveryDetail.quantity|default|number_format(2) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, deliveryDetails) }}
