<table>
    <thead>
        <tr>
            <th style="text-align: center" colspan="7"><strong>PT. Putracipta Karindomas</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7"><strong>Laporan Pengeluaran Material</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7">
                <strong>
                    {% set startDate = form.vars.value.filter.transactionDate.1|default %}
                    {% set endDate = form.vars.value.filter.transactionDate.2|default %}
                    {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
                </strong>
            </th>
        </tr>
        <tr>
            <th colspan="7"></th>
        </tr>
        <tr>
            <th style="text-align: center; width: 100pt"><strong>Pengeluaran #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Tanggal</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Request #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Gudang</strong></th>
            <th style="text-align: center; width: 100pt"><strong>WO #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Divisi</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Part #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Jenis</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Note</strong></th>
        </tr>
        <tr>
            <th></th>
            <th style="text-align: center"><strong>Kode</strong></th>
            <th style="text-align: center"><strong>Nama Item</strong></th>
            <th style="text-align: center"><strong>Qty Stok</strong></th>
            <th style="text-align: center"><strong>Qty Keluar</strong></th>
            <th style="text-align: center"><strong>Satuan</strong></th>
            <th style="text-align: center"><strong>Memo</strong></th>
        </tr>
        <tr>
            <th colspan="8"></th>
        </tr>
    </thead>
    <tbody>
        {% for inventoryReleaseHeader in inventoryReleaseHeaders %}
            <tr>
                <td style="text-align: left">{{ inventoryReleaseHeader.codeNumber|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseHeader.transactionDate|default ? inventoryReleaseHeader.transactionDate|date('j M Y') }}</td>
                <td style="text-align: left">{{ inventoryReleaseHeader.inventoryRequestHeader.codeNumber|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseHeader.warehouse.name|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseHeader.masterOrderHeader.codeNumber|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseHeader.division.name|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseHeader.partNumber|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseHeader.releaseMode|default }}</td>
                <td style="text-align: left">{{ inventoryReleaseHeader.note|default }}</td>
            </tr>
            {% if (inventoryReleaseHeader.releaseMode == 'paper') %}
                {% for inventoryReleasePaperDetail in inventoryReleaseHeader.inventoryReleasePaperDetails %}
                    <tr>
                        <td style="text-align: left"></td>
                        <td style="text-align: left">{{ inventoryReleasePaperDetail.paper.codeNumber|default }}</td>
                        <td style="text-align: left">{{ inventoryReleasePaperDetail.paper.name|default }}</td>
                        <td style="text-align: center">{{ inventoryReleasePaperDetail.quantity|default }}</td>
                        <td style="text-align: left">{{ inventoryReleasePaperDetail.unit.name|default }}</td>
                        <td style="text-align: left">{{ inventoryReleasePaperDetail.memo|default }}</td>
                    </tr>
                {% endfor %}
            {% elseif (inventoryReleaseHeader.releaseMode == 'material') %} 
                {% for inventoryReleaseMaterialDetail in inventoryReleaseHeader.inventoryReleaseMaterialDetails %}
                    <tr>
                        <td style="text-align: left"></td>
                        <td style="text-align: left">{{ inventoryReleaseMaterialDetail.material.code|default }}</td>
                        <td style="text-align: left">{{ inventoryReleaseMaterialDetail.material.name|default }}</td>
                        <td style="text-align: center">{{ inventoryReleaseMaterialDetail.quantity|default }}</td>
                        <td style="text-align: left">{{ inventoryReleaseMaterialDetail.unit.name|default }}</td>
                        <td style="text-align: left">{{ inventoryReleaseMaterialDetail.memo|default }}</td>
                    </tr>
                {% endfor %}
            {% endif %} 
        {% endfor %}
    </tbody>
</table>