
{% extends 'layout_page.html.twig' %}


{% block title %}Hasilpond index{% endblock %}

{% block toolbar %}
    {% if is_granted('ROLE_HASIL_PRODUKSI_ADD') %}
        <a class="btn btn-success btn-sm" href="{{ path('app_hasilpond_new') }}">Add</a>
    {% endif %}
{% endblock %}


{% block content %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomo</th>
                <th>Operator</th>
                <th>Good</th>
                <th>Ng</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hasilpond in hasilponds %}
            <tr>
                <td>{{ hasilpond.id }}</td>
                <td>{{ hasilpond.nomo }}</td>
                <td>{{ hasilpond.operator }}</td>
                <td>{{ hasilpond.good }}</td>
                <td>{{ hasilpond.ng }}</td>
                <td>
                    <a href="{{ path('app_hasilpond_show', {'id': hasilpond.id}) }}">show</a>
                    <a href="{{ path('app_hasilpond_edit', {'id': hasilpond.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hasilpond_new') }}">Create new</a>

//     <script>
// $(document).ready(function() {
//     $('#userTable').DataTable({
//         scrollY: '300px', // Set the height of the scrollable area
//         scrollCollapse: true, // Allow the table to reduce in height if there are fewer records
//         paging: false // Disable pagination to allow for continuous scrolling
//     });
// });
// </script>
{% endblock %}
