<div class="table-responsive">
    <table class="table table-bordered"
       data-controller="form-collection"
       data-form-collection-start-index-value="{{ form.deliveryDetails|length > 0 ? form.deliveryDetails|last.vars.name + 1 : 0 }}"
       data-form-collection-prototype-value="{{ _self.collection_item(form.deliveryDetails.vars.prototype, form)|e('html_attr') }}"
       data-action="form-collection:collection-item-removed->json-loader#load:self">
        <thead class="table-secondary">
            <tr>
                <th class="d-none">Sale Order Detail Id</th>
                <th style="min-width: 250px">Kode</th>
                <th style="min-width: 250px">Nama Barang</th>
                <th style="min-width: 150px">FSC Code</th>
                <th style="min-width: 150px">WO #</th>
                <th style="min-width: 150px">Lot #</th>
                <th style="min-width: 150px">PO #</th>
                <th style="min-width: 150px">Line PO</th>
                <th style="min-width: 100px">Qty Order</th>
                <th style="min-width: 100px">Qty Sisa</th>
                <th style="min-width: 100px">Qty Kirim</th>
                <th style="min-width: 100px">Satuan</th>
                <th style="min-width: 150px">Kemasan</th>
                <th style="min-width: 0"></th>
            </tr>
        </thead>
        <tbody data-form-collection-target="items" data-action="sale-order-detail-table:data-table:select@document->form-collection#addCollectionItem customer-table:data-table:select@document->form-collection#clearCollectionItems customer-table:data-table:select@document->json-loader#load">
            {% macro collection_item(detailForm, form) %}
                <tr data-form-collection-target="item" {% if (detailForm.vars.value.isCanceled) %}class="bg-secondary"{% endif %}>
                    <td class="d-none">{{ form_widget(detailForm.saleOrderDetail, {'attr': {'data-item-field-name': 'saleOrderDetailId'}}) }}</td>
                    <td data-item-field-name="productCode">{{ detailForm.vars.value.saleOrderDetail.product.code|default }}</td>
                    <td data-item-field-name="productName">{{ detailForm.vars.value.saleOrderDetail.product.name|default }}</td>
                    <td>{{ form_row(detailForm.fscCode, {'label': false, 'attr': {
                        'data-item-field-action': '
                            const hasFscCode = document.querySelector("#' ~ form.customer.vars.id  ~ '-has-fsc-code").value;
                            if (hasFscCode === "No") {
                                $element.setAttribute("readonly", "readonly");
                            }
                        ',
                    }}) }}</td>
                    <td></td>
                    <td>{{ form_row(detailForm.lotNumber, {'label': false}) }}</td>
                    <td data-item-field-name="saleOrderHeaderReferenceNumber">{{ detailForm.vars.value.saleOrderDetail.saleOrderHeader.referenceNumber|default }}</td>
                    <td>{{ form_row(detailForm.linePo, {'label': false}) }}</td>
                    <td class="text-center" data-item-field-name="saleOrderDetailQuantity">{{ detailForm.vars.value.saleOrderDetail.quantity|default }}</td>
                    <td class="text-center" data-item-field-name="saleOrderDetailQuantityRemaining">{{ detailForm.vars.value.saleOrderDetail.remainingDelivery|default }}</td>
                    <td>{{ form_row(detailForm.deliveredQuantity, {'label': false, 'attr': {'data-action': 'change->json-loader#load', 'size': 3}}) }}</td>
                    <td data-item-field-name="unitName">{{ detailForm.vars.value.saleOrderDetail.unit.name|default }}</td>
                    <td>{{ form_row(detailForm.packaging, {'label': false}) }}</td>
                    <td>
                        <div {% if (detailForm.vars.value.id == null) %}class="d-none"{% endif %}>
                            {{ form_row(detailForm.isCanceled, {
                                'label': 'X',
                                'attr': {
                                    'data-controller': 'dom-element',
                                    'data-action': 'dom-element#bind change->json-loader#load',
                                    'data-dom-element-bind-specifications-param': [
                                        {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.saleOrderDetail.id|default}\"]", 'action': 'removeClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '!$element.checked'},
                                        {'destinationsTarget': "table tr[data-item-identifier-value=\"#{detailForm.vars.value.saleOrderDetail.id|default}\"]", 'action': 'addClass', 'descriptor': {'name': 'bg-secondary'}, 'condition': '$element.checked'},
                                    ]|json_encode,
                                },
                            }) }}
                        </div>
                    </td>
                </tr>
            {% endmacro %}
            {% for detailForm in form.deliveryDetails %}
                {{ _self.collection_item(detailForm, form) }}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-end" colspan="9">Total Quantity</td>
                <td class="text-center" data-json-loader-target="placeholder"
                    data-property-path="totalQuantity">
                    {{ deliveryHeader.totalQuantity|default|number_format(0) }}
                </td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>
