{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, workOrderDistributions) }}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th role="button" {{ grid.sort_link_item(form, 'name') }}>
                    Name {{ grid.sort_char(form.sort.name.vars.value) }}
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'isInactive') }}>
                    Status {{ grid.sort_char(form.sort.isInactive.vars.value) }}
                </th>
                <th></th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'name') }} value="{{ form.filter.name.1.vars.value }}" />
                </th>
                <th>
                    <select class="form-select" {{ grid.filter_link_item(form, 'isInactive') }}>
                        <option value="" {% if form.filter.isInactive.1.vars.value == '' %}selected="selected"{% endif %}></option>
                        {% for choice in form.filter.isInactive.1.vars.choices %}
                            <option value="{{ choice.value }}" {% if form.filter.isInactive.1.vars.value == choice.value %}selected="selected"{% endif %}>{{ choice.label }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for workOrderDistribution in workOrderDistributions %}
                <tr>
                    <td>{{ workOrderDistribution.name }}</td>
                    <td>{{ workOrderDistribution.isInactive ? 'Inactive' : 'Active' }}</td>
                    <td>
                        {% if is_granted('ROLE_DISTRIBUTION_VIEW') or is_granted('ROLE_DISTRIBUTION_EDIT') or is_granted('ROLE_DISTRIBUTION_ADD') %}
                            <a class="btn btn-info btn-sm" href="{{ path('app_master_work_order_distribution_show', {'id': workOrderDistribution.id}) }}"><i class="bi-search"></i></a>
                        {% endif %}
                        {% if is_granted('ROLE_DISTRIBUTION_EDIT') %}
                            <a class="btn btn-warning btn-sm" href="{{ path('app_master_work_order_distribution_edit', {'id': workOrderDistribution.id}) }}"><i class="bi-pencil"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, workOrderDistributions) }}
