{% extends 'layout_page.html.twig' %}

{% block title 'Show Dieline Millar' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_dieline_millar_index') }}">Manage</a>
    {% if is_granted('ROLE_MILLAR_EDIT') %}
        <a class="btn btn-warning btn-sm" href="{{ path('app_master_dieline_millar_edit', {'id': dielineMillar.id}) }}">Edit</a>
    {% endif %}
    {% if is_granted('ROLE_MILLAR_ADD') %}
        <a class="btn btn-success btn-sm" href="{{ path('app_master_dieline_millar_new') }}">Add</a>
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Customer</th>
                <td>{{ dielineMillar.customer.company|default }}</td>
            </tr>
            <tr>
                <th>Kode</th>
                <td>{{ dielineMillar.codeNumber|default }}</td>
            </tr>
            <tr>
                <th>Tanggal Pembuatan</th>
                <td>{{ dielineMillar.date ? dielineMillar.date|date('d M Y') : '' }}</td>
            </tr>
            <tr>
                <th>Jml Up Cetak</th>
                <td>{{ dielineMillar.quantityUpPrinting|default }}</td>
            </tr>
            <tr>
                <th>Layout Cetak</th>
                <td>{{ dielineMillar.printingLayout|default }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ dielineMillar.note|default }}</td>
            </tr>
            <tr>
                <th>Is Inactive</th>
                <td>{{ dielineMillar.isInactive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <hr />
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="3" class="text-center bg-info">Product</th>
            </tr>
            <tr>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for dielineMillarDetail in dielineMillar.dielineMillarDetails %}
                {% if not dielineMillarDetail.isIsInactive %}
                    <tr>
                        <td>{{ dielineMillarDetail.product.code|default }}</td>
                        <td>{{ dielineMillarDetail.product.name|default }}</td>
                        <td>{{ dielineMillarDetail.product.productLengthWidthHeightCombination|default }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
        
    <hr />
    
    <legend class="float-none w-auto text-dark px-1">Millar List</legend>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class=" bg-info">
                <th>Code</th>
                <th>Name</th>
                <th>MO #</th>
            </tr>
        </thead>
        <tbody>
            {% for masterOrderHeader in dielineMillar.masterOrderHeaders %}
                {% for masterOrderProductDetail in masterOrderHeader.masterOrderProductDetails %}
                    <tr>
                        <td>{{ masterOrderProductDetail.product.code|default }}</td>
                        <td>{{ masterOrderProductDetail.product.name|default }}</td>
                        <td>{{ masterOrderProductDetail.codeNumber|default }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    {#{{ include('master/dieline_millar/_delete_form.html.twig') }}#}
{% endblock %}
