<table>
    <thead>
        <tr>
            <th style="text-align: center" colspan="7"><strong>PT. Putracipta Karindomas</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7"><strong>Laporan Pengiriman Barang</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7">
                <strong>
                    {% set startDate = form.vars.value.filter.transactionDate.1|default %}
                    {% set endDate = form.vars.value.filter.transactionDate.2|default %}
                    {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
                </strong>
            </th>
        </tr>
        <tr>
            <th style="text-align: center; width: 100pt"><strong>Pengiriman #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Tanggal</strong></th>
            <th style="text-align: center; width: 300pt"><strong>Customer</strong></th>
            <th style="text-align: center; width: 200pt"><strong>Gudang</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Kendaraan</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Sopir</strong></th>
            <th style="text-align: center; width: 300pt"><strong>Note</strong></th>
            <th style="text-align: center; width: 150pt"><strong>PO #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Tanggal PO</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Kode</strong></th>
            <th style="text-align: center; width: 300pt"><strong>Nama Produk</strong></th>
            <th style="text-align: center; width: 100pt"><strong>FSC Code</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Lot #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Qty Order</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Qty Kirim</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Qty OS</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Qty Stok</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Satuan</strong></th>
            <th style="text-align: center; width: 300pt"><strong>Packing</strong></th>
        </tr>
    </thead>
    <tbody>
        {% for deliveryHeader in deliveryHeaders %}
            {% for deliveryDetail in deliveryHeader.deliveryDetails %}
                <tr>
                    <td style="text-align: left">{{ deliveryHeader.codeNumber|default }}</td>
                    <td style="text-align: left">{{ deliveryHeader.transactionDate|default ? deliveryHeader.transactionDate|date('j M Y') }}</td>
                    <td style="text-align: left">{{ deliveryHeader.customer.company|default }}</td>
                    <td style="text-align: left">{{ deliveryHeader.warehouse.name|default }}</td>
                    <td style="text-align: left">{{ deliveryHeader.vehiclePlateNumber|default }}</td>
                    <td style="text-align: left">{{ deliveryHeader.vehicleDriverName|default }}</td>
                    <td style="text-align: left">{{ deliveryHeader.note|default }}</td>
                    <td style="text-align: left">{{ deliveryDetail.saleOrderDetail.saleOrderHeader.referenceNumber|default }}</td>
                    <td style="text-align: left">{{ deliveryDetail.saleOrderDetail.saleOrderHeader.transactionDate|default ? deliveryDetail.saleOrderDetail.saleOrderHeader.transactionDate|date('j M Y') }}</td>
                    <td style="text-align: left">{{ deliveryDetail.product.code|default }}</td>
                    <td style="text-align: left">{{ deliveryDetail.product.name|default }}</td>
                    <td style="text-align: left">{{ deliveryDetail.fscCode|default }}</td>
                    <td style="text-align: left">{{ deliveryDetail.lotNumber|default }}</td>
                    <td style="text-align: center">{{ deliveryDetail.saleOrderDetail.quantity|default }}</td>
                    <td style="text-align: center">{{ deliveryDetail.quantity|default }}</td>
                    <td style="text-align: center">{{ deliveryDetail.remainingQuantity|default }}</td>
                    <td style="text-align: center">{{ deliveryDetail.quantityCurrent|default }}</td>
                    <td style="text-align: left">{{ deliveryDetail.unit.name|default }}</td>
                    <td style="text-align: left">{{ deliveryDetail.packaging|default }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>