{% extends 'layout_page.html.twig' %}

{% block title 'Show Warehouse' %}

{% block toolbar %}
    <a class="btn btn-primary btn-sm" href="{{ path('app_master_warehouse_index') }}">Manage</a>
    {% if is_granted('ROLE_WAREHOUSE_EDIT') %}
        <a class="btn btn-warning btn-sm" href="{{ path('app_master_warehouse_edit', {'id': warehouse.id}) }}">Edit</a>
    {% endif %}
    {% if is_granted('ROLE_WAREHOUSE_ADD') %}
        <a class="btn btn-success btn-sm" href="{{ path('app_master_warehouse_new') }}">Add</a>
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ warehouse.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ warehouse.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ warehouse.description }}</td>
            </tr>
            <tr>
                <th>Inactive</th>
                <td>{{ warehouse.isInactive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {#{{ include('master/warehouse/_delete_form.html.twig') }}#}
{% endblock %}
