<div class="table-responsive">
    <table class="table table-bordered"
       data-controller="form-collection"
       data-form-collection-start-index-value="{{ form.stockTransferMaterialDetails|length > 0 ? form.stockTransferMaterialDetails|last.vars.name + 1 : 0 }}"
       data-form-collection-prototype-value="{{ _self.collection_item(form.stockTransferMaterialDetails.vars.prototype, form)|e('html_attr') }}"
       data-action="form-collection:collection-item-removed->json-loader#load:self">
        <thead class="table-secondary">
            <tr>
                <th class="d-none">Material Id</th>
                <th style="min-width: 250px">Kode</th>
                <th style="min-width: 250px">Nama Barang</th>
                <th style="min-width: 50px">Qty Stok</th>
                <th style="min-width: 50px">Qty Transfer</th>
                <th style="min-width: 50px">Satuan</th>
                <th style="min-width: 150px">Keterangan</th>
                <th style="min-width: 0"></th>
            </tr>
        </thead>
        <tbody data-form-collection-target="items" data-action="{{ form.transferMode.vars.id }}:data-choice:select@document->form-collection#clearCollectionItems material-table:data-table:select@document->form-collection#addCollectionItem material-table:data-table:select@document->json-loader#load">
            {% macro collection_item(detailForm, form) %}
                <tr data-form-collection-target="item" {% if detailForm.isCanceled.vars.data %}class="d-none"{% endif %}>
                    <td class="d-none">{{ form_widget(detailForm.material, {'attr': {'data-item-field-name': 'materialId'}}) }}</td>
                    <td data-item-field-name="materialCode">{{ detailForm.vars.value.material.code|default }}</td>
                    <td data-item-field-name="materialName">{{ detailForm.vars.value.material.name|default }}</td>
                    <td class="text-center" data-json-loader-target="placeholder"
                        data-property-path="stockTransferMaterialDetails.{{ detailForm.vars.name }}.quantityCurrent">{{ detailForm.vars.value.quantityCurrent|default }}</td>
                    <td>
                        {{ form_row(detailForm.quantity, {'label': false, 'attr': {
                            'size': 2,
                            'data-controller': 'dom-element',
                            'data-action': 'change->dom-element#bind change->json-loader#load',
                            'data-dom-element-bind-specifications-param': [
                                {'action': 'setPropertyValue', 'descriptor': {'property': 'value', 'value': '$helper.localizer.number($element.value, 2)'}}
                            ]|json_encode,
                        }}) }}
                    </td>
                    <td data-item-field-name="unitName">{{ detailForm.vars.value.material.unit.name|default }}</td>
                    <td>{{ form_row(detailForm.memo, {'label': false}) }}</td>
                    <td>
                        {% if (detailForm.vars.value.id == null) %}
                            <button type="button" class="btn btn-outline-dark" data-action="form-collection#removeCollectionItem"><i class="bi-x-lg"></i></button>
                        {% else %}
                            <button type="button" class="btn btn-danger"
                                    data-controller="dom-element"
                                    data-action="dom-element#bind json-loader#load"
                                    data-dom-element-bind-specifications-param="{{ [
                                        {'destinationsTarget': '#' ~ detailForm.isCanceled.vars.id, 'action': 'setPropertyValue', 'descriptor': {'property': 'checked', 'value': 'true'}},
                                        {'destinations': '[$element.closest("tr")]', 'action': 'addClass', 'descriptor': {'name': 'd-none'}},
                                    ]|json_encode }}">
                                <i class="bi-x-lg"></i>
                            </button>
                        {% endif %}
                        <div class="d-none">
                            {{ form_row(detailForm.isCanceled) }}
                        </div>
                    </td>
                </tr>
            {% endmacro %}
            {% for detailForm in form.stockTransferMaterialDetails %}
                {{ _self.collection_item(detailForm, form) }}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total</td>
                <td data-item-field-name="totalQuantity" class="text-center font-weight-bold">{{ detailForm.vars.value.totalQuantity|default }}</td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>
