{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, receiveHeaders) }}

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="receive-header-table" data-controller="data-table">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 280px" role="button">
                    Penerimaan #
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Tanggal {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th style="min-width: 250px" role="button">
                    PO #
                </th>
                <th style="min-width: 250px" role="button" {{ grid.sort_link_item(form, 'supplier:company') }}>
                    Supplier {{ grid.sort_char(form.sort['supplier:company'].vars.value) }}
                </th>
                <th style="min-width: 150px" role="button" {{ grid.sort_link_item(form, 'supplierDeliveryCodeNumber') }}>
                    SJ # {{ grid.sort_char(form.sort.supplierDeliveryCodeNumber.vars.value) }}
                </th>
                <th style="min-width: 250px" role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberOrdinal') }} value="{{ form.filter.codeNumberOrdinal.1.vars.value }}" />
                    <span><small>/{{ constant('App\\Entity\\Purchase\\ReceiveHeader::CODE_NUMBER_CONSTANT') }}/</small></span>
                    <select {{ grid.filter_link_item(form, 'codeNumberMonth') }}>
                        {% for value, label in constant('App\\Entity\\PurchaseHeader::MONTH_ROMAN_NUMERALS') %}
                            {% set val = value == 0 ? '' : value %}
                            <option value="{{ val }}" {% if form.filter.codeNumberMonth.1.vars.value == val %}selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    <span><small>/</small></span>
                    <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberYear') }} value="{{ form.filter.codeNumberYear.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th></th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'supplier:company') }} value="{{ form.filter['supplier:company'].1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'supplierDeliveryCodeNumber') }} value="{{ form.filter.supplierDeliveryCodeNumber.1.vars.value }}" />
                </th>
                <th>
                    <input class="form-control" type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
            </tr>
        </thead>
        <tbody>
            {% for receiveHeader in receiveHeaders %}
                <tr data-bs-dismiss="modal" data-action="click->data-table#select" data-data-table-values-param="{{ receiveHeader.receiveDetails|filter(receiveDetail => not receiveDetail.isCanceled)|slice(0)|map(receiveDetail => {
                    'receiveHeaderId': receiveHeader.id, 
                    'receiveHeaderCodeNumber': receiveHeader.codeNumber, 
                    'purchaseOrderHeaderCodeNumber': receiveHeader.purchaseOrderHeader is null ? receiveHeader.purchaseOrderPaperHeader.codeNumber|default : receiveHeader.purchaseOrderHeader.codeNumber|default, 
                    'supplierCompany': receiveHeader.supplier.company|default,
                    'supplierCurrency': receiveHeader.supplier.currency.code|default,
                    'supplierDeliveryCodeNumber': receiveHeader.supplierDeliveryCodeNumber,
                    'supplierPaymentTerm': receiveHeader.supplier.paymentTerm|default,
                    'receiveDetailId': receiveDetail.id, 
                    'materialName': receiveDetail.material is null ? receiveDetail.paper.name|default : receiveDetail.material.name|default, 
                    'materialCode': receiveDetail.material is null ? receiveDetail.paper.code|default : receiveDetail.material.code|default, 
                    'unitName': receiveDetail.unit.name|default})|json_encode }}">
                    <td>{{ receiveHeader.codeNumber }}</td>
                    <td>{{ receiveHeader.transactionDate ? receiveHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ receiveHeader.purchaseOrderHeader is null ? receiveHeader.purchaseOrderPaperHeader.codeNumber|default : receiveHeader.purchaseOrderHeader.codeNumber|default }}</td>
                    <td>{{ receiveHeader.supplier.company|default }}</td>
                    <td>{{ receiveHeader.supplierDeliveryCodeNumber }}</td>
                    <td>{{ receiveHeader.note }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ grid.navigation(form, count, receiveHeaders) }}
