<div class="memo">
    <div class="header" style="font-size: 10px; text-align: left">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label"><img id="logo" alt="logo" max-height="100px" src="{{ asset('images/Logo.jpg') }}"></div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label" style="font-size: 14px; text-align: center">FORMULIR</div>
                    </div>
                    <div class="row">
                        <div class="cell label" style="font-size: 18px; text-align: center">CHECKLIST PRINTING</div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label">No Dokumen</div>
                        <div class="cell label">:</div>
                        <div class="cell label">F/PCK/PPIC/8.5-7</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Revisi</div>
                        <div class="cell label">:</div>
                        <div class="cell label">0</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Tanggal</div>
                        <div class="cell label">:</div>
                        <div class="cell label"></div>
                    </div>
                    <div class="row">
                        <div class="cell label">Halaman</div>
                        <div class="cell label">:</div>
                        <div class="cell label">1 dari 1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="note">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label">No MO</div>
                        <div class="cell value">: {{ masterOrderHeader.getCodeNumber|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Tanggal WO</div>
                        <div class="cell value">: {{ masterOrderHeader.transactionDate|default ? masterOrderHeader.transactionDate|date('d M Y') }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Kode Design</div>
                        <div class="cell value">: {{ masterOrderHeader.designCode.codeNumber|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Warna</div>
                        <div class="cell value">: {{ masterOrderHeader.color }} / {{ masterOrderHeader.pantone }} + {{ masterOrderHeader.colorPantoneAdditional }}</div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label">Nama Customer</div>
                        <div class="cell value">: {{ masterOrderHeader.customer.company|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Mesin Cetak</div>
                        <div class="cell value">: {{ masterOrderHeader.machinePrinting.name|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Tanggal Pengerjaan</div>
                        <div class="cell value">: ____________________</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Jumlah Plate</div>
                        <div class="cell value">: ____________________</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <table  class="detail">
        <thead class="table-secondary">
            <tr>
                <th>PO#</th>
                <th>Kode</th>
                <th>Nama Produk</th>
                <th>Tanggal Kirim</th>
                <th>Qty Order</th>
                <th>Qty Produksi</th>
                <th>Stock</th>
                <th>Kekurangan</th>
                <th>Up Cetak</th>
            </tr>
        </thead>
        <tbody>
            {% for masterOrderProductDetail in masterOrderHeader.masterOrderProductDetails %}
                <tr>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.saleOrderHeader.referenceNumber|default }}</td>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.product.code|default }}</td>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.product.name|default }}</td>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.deliveryDate ? masterOrderProductDetail.saleOrderDetail.deliveryDate|date('d M Y') : '' }}</td>
                    <td style="text-align:right">{{ masterOrderProductDetail.quantityOrder|default|number_format(0) }}</td>
                    <td style="text-align:right">{{ masterOrderProductDetail.quantityProduction|default|number_format(0) }}</td>
                    <td style="text-align:right">{{ masterOrderProductDetail.quantityStock|default|number_format(0) }}</td>
                    <td style="text-align:right">{{ masterOrderProductDetail.quantityShortage|default|number_format(0) }}</td>
                    <td>{{ masterOrderProductDetail.quantityPrinting|default }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />

    <fieldset class="border border-secondary rounded mb-3 p-3">
        <div class="note">
            <div class="table full">
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <table class="detail" style="width: 95%">
                                <thead>
                                    <tr>
                                        <th rowspan="2" colspan="2">&nbsp;</th>
                                        <th>Opr. Mesin</th>
                                        <th>Supervisor</th>
                                    </tr>
                                    <tr>
                                        <th>Check I</th>
                                        <th>Check II</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <td rowspan="6">Plate & Tinta</td>
                                        <td class="center">C</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="center">M</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="center">Y</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="center">K</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="center">S/1</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="center">S/2</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Kertas</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Cetak B/S</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Cetak B/B</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Kris Cetakan Depan</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Kris Cetakan Balikan</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Register</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Standar Produk</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="6">Raster</td>
                                        <td class="center">C</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="center">M</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="center">Y</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="center">K</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="center">S/1</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="center">S/2</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <table class="detail" style="width: 95%">
                                <thead>
                                    <tr>
                                        <th rowspan="2">&nbsp;</th>
                                        <th>Opr. Mesin</th>
                                        <th>Supervisor</th>
                                    </tr>
                                    <tr>
                                        <th>Check I</th>
                                        <th>Check II</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <td>Tanda Tarikan Kanan</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Tanda Tarikan Kiri (Turun-Naik)</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Warna sudah sesuai standar produk</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Kertas Double</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Alkohol</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Kotoran</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Powder</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Jumlah Kertas</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>Cek Keseluruhan</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <br />

    <div class="note">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label">Keterangan</div>
                        <div class="cell value">: _______________________________________________________________</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
          
    <div class="signature">
        <div class="table full">
            <div class="cell sig">
                <div>Operator Mesin,</div>
                <div class="blank">&nbsp;</div>
                <div>(.........................)</div>
            </div>
            <div class="cell sig">
                <div>Spv. Production / QC,</div>
                <div class="blank">&nbsp;</div>
                <div>(.........................)</div>
            </div>
        </div>
    </div>
</div>