<div class="memo">
    <div class="header" style="font-size: 10px; text-align: left">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label"><img id="logo" alt="logo" max-height="300px" src="{{ asset('images/Logo.jpg') }}"></div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label" style="font-size: 14px; text-align: center">FORMULIR</div>
                    </div>
                    <div class="row">
                        <div class="cell label" style="font-size: 18px; text-align: center">WORK ORDER DIECUT BOBST/MANUAL</div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label">No Dokumen</div>
                        <div class="cell label">:</div>
                        <div class="cell label">F/PCK/PPIC/8.1-7</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Revisi</div>
                        <div class="cell label">:</div>
                        <div class="cell label">0</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Tanggal</div>
                        <div class="cell label">:</div>
                        <div class="cell label"></div>
                    </div>
                    <div class="row">
                        <div class="cell label">Halaman</div>
                        <div class="cell label">:</div>
                        <div class="cell label">1 dari 1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="note">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label">Kertas & Ukuran</div>
                        <div class="cell value">: {{ masterOrderHeader.paper.name|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Jumlah Material</div>
                        <div class="cell value">: {{ masterOrderHeader.quantityPaper|default|number_format(2) }} rim / {{ masterOrderHeader.paperRequirement|default|number_format(0) }} dreek</div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label">MO #</div>
                        <div class="cell value">: {{ masterOrderHeader.getCodeNumber|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Tanggal MO</div>
                        <div class="cell value">: {{ masterOrderHeader.transactionDate|default ? masterOrderHeader.transactionDate|date('d M Y') }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Kode Pisau</div>
                        <div class="cell value">: {{ masterOrderHeader.diecutKnife.codeNumber|default }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <table  class="detail">
        <thead>
            <tr>
                <th>PO#</th>
                <th>Tanggal PO</th>
                <th>Kode</th>
                <th>Nama Produk</th>
                <th>Tanggal Kirim</th>
            </tr>
        </thead>
        <tbody>
            {% for masterOrderProductDetail in masterOrderHeader.masterOrderProductDetails %}
                <tr>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.saleOrderHeader.referenceNumber|default }}</td>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.saleOrderHeader.transactionDate ? masterOrderProductDetail.saleOrderDetail.saleOrderHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.product.code|default }}</td>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.product.name|default }}</td>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.deliveryDate ? masterOrderProductDetail.saleOrderDetail.deliveryDate|date('d M Y') : '' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />

    <fieldset>
        <div class="note">
            <div class="table full">
                <div class="cell col-6 col-md-8">
                    <table class="detail">
                        <thead class="table-secondary">
                            <tr>
                                <th>Pekerjaan</th>
                                <th>Waktu Mulai</th>
                                <th>Waktu Selesai</th>
                                <th>Keterangan</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td rowspan="3">Pembersihan</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td rowspan="3">Lama Setting</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="cell col-6 col-md-6">
                    <div class="table full">
                        <div class="row">
                            <div class="cell">Pemakaian Chito</div>
                            <div class="cell"></div>
                        </div>
                        <div class="row">
                            <div class="cell">Chito No __________ </div>
                            <div class="cell">: _______________________ Btg</div>
                        </div>
                        <div class="row">
                            <div class="cell">Chito No __________ </div>
                            <div class="cell">: _______________________ Btg</div>
                        </div>
                        <div class="row">
                            <div class="cell">Chito No __________ </div>
                            <div class="cell">: _______________________ Btg</div>
                        </div>
                        <div class="row">
                            <div class="cell">Reject / Setelan</div>
                            <div class="cell">: _______________________ Lembar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <br />

    <table class="detail">
        <thead class="table-secondary">
            <tr>
                <th class="text-center" style="width: 5%" rowspan="2">Shift </th>
                <th class="text-center" style="width: 10%" rowspan="2">Tanggal</th>
                <th class="text-center" style="width: 10%" rowspan="2">Jumlah lembar yg diterima</th>
                <th class="text-center" colspan="2">Waktu</th>
                <th class="text-center" style="width: 20%" rowspan="2">Operator</th>
                <th class="text-center" style="width: 10%" rowspan="2">Jumlah yg dihasilkan</th>
                <th class="text-center" rowspan="2">Keterangan</th>
            </tr>
            <tr>
                <th class="text-center" style="width: 10%">Mulai</th>
                <th class="text-center" style="width: 10%">Selesai</th>
            </tr>
        </thead>
        <tfoot>
            {% for row in 0..20 %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
        </tfoot>
    </table>

    <br />

    <div class="note">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell">Catatan</div>
                        <div class="cell">: _____________________________________________________________________</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="note">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell">Tanggal Pengembalian WO#</div>
                        <div class="cell">: _______________________</div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell">WO# dikembalikan oleh</div>
                        <div class="cell">: _______________________</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="signature">
        <div class="table full">
            <div class="cell sig">
                <div>Diselesaikan oleh,</div>
                <div class="blank">&nbsp;</div>
                <div>Operator</div>
            </div>
            <div class="cell sig">
                <div>Diperiksa oleh,</div>
                <div class="blank">&nbsp;</div>
                <div>Spv Prod</div>
            </div>
            <div class="cell sig">
                <div>WO# dikeluarkan oleh,</div>
                <div class="blank">&nbsp;</div>
                <div>PPIC</div>
            </div>
        </div>
    </div>
</div>