<div class="memo">
    <div class="header" style="font-size: 10px; text-align: left">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label"><img id="logo" alt="logo" max-height="300px" src="{{ asset('images/Logo.jpg') }}"></div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label" style="font-size: 14px; text-align: center">FORMULIR</div>
                    </div>
                    <div class="row">
                        <div class="cell label" style="font-size: 18px; text-align: center">WORK ORDER COATING</div>
                    </div>
                    <div class="row">
                        <div class="cell label" style="font-size: 18px; text-align: center">(UV/WB/OPV/LAM/SCR/CAL)</div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                            <div class="cell label">No Dokumen</div>
                            <div class="cell label">:</div>
                            <div class="cell label">F/PCK/PPIC/8.1-6</div>
                    </div>
                    <div class="row">
                            <div class="cell label">Revisi</div>
                            <div class="cell label">:</div>
                            <div class="cell label">0</div>
                    </div>
                    <div class="row">
                            <div class="cell label">Tanggal</div>
                            <div class="cell label">:</div>
                            <div class="cell label"></div>
                    </div>
                    <div class="row">
                            <div class="cell label">Halaman</div>
                            <div class="cell label">:</div>
                            <div class="cell label">1 dari 1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="note">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label">No MO</div>
                        <div class="cell value">: {{ masterOrderHeader.getCodeNumber|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Tanggal WO</div>
                        <div class="cell value">: {{ masterOrderHeader.transactionDate|default ? masterOrderHeader.transactionDate|date('d M Y') }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Mesin Coating</div>
                        <div class="cell value">: _____________________ </div>
                    </div>
                    <div class="row">
                        <div class="cell label">Jenis Varnish</div>
                        <div class="cell value">: _____________________ </div>
                    </div>
                    <div class="row">
                        <div class="cell label">Cetak di Mesin</div>
                        <div class="cell value">: {{ masterOrderHeader.machinePrinting.name|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Kertas</div>
                        <div class="cell value">: {{ masterOrderHeader.paper.name|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Ukuran </div>
                        <div class="cell value">: {{ masterOrderHeader.paperPlanoLength|default|number_format(2) }} x {{ masterOrderHeader.paperPlanoWidth|default|number_format(2) }} cm</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Jumlah Material</div>
                        <div class="cell value">: {{ masterOrderHeader.quantityPaper|default|number_format(2) }} rim {{ masterOrderHeader.paperRequirement|default|number_format(0) }} dreek</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Jumlah lembar yang diterima</div>
                        <div class="cell value">: ______________ dreek</div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <table  class="detail">
                            <thead class="table-secondary">
                                <tr>
                                    <th colspan="3">Total Pemakaian Bahan</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td>Minyak UV</td>
                                    <td style="min-width: 30px">&nbsp;</td>
                                    <td>Liter</td>
                                </tr>
                                <tr>
                                    <td>Alkohol</td>
                                    <td>&nbsp;</td>
                                    <td>Liter</td>
                                </tr>
                                <tr>
                                    <td>WB</td>
                                    <td>&nbsp;</td>
                                    <td>Liter</td>
                                </tr>
                                <tr>
                                    <td>Reject / setelan</td>
                                    <td>&nbsp;</td>
                                    <td>Lembar</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <fieldset class="border border-secondary rounded mb-3 p-3">
        <div class="note">
            <div class="table full">
                <div class="cell col">
                    <table  class="detail">
                        <thead class="table-secondary">
                            <tr>
                                <th>PO#</th>
                                <th>Tanggal PO</th>
                                <th>Kode</th>
                                <th>Nama Produk</th>
                                <th>Tanggal Kirim</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for masterOrderProductDetail in masterOrderHeader.masterOrderProductDetails %}
                                <tr>
                                    <td>{{ masterOrderProductDetail.saleOrderDetail.saleOrderHeader.referenceNumber|default }}</td>
                                    <td>{{ masterOrderProductDetail.saleOrderDetail.saleOrderHeader.transactionDate ? masterOrderProductDetail.saleOrderDetail.saleOrderHeader.transactionDate|date('d M Y') : '' }}</td>
                                    <td>{{ masterOrderProductDetail.saleOrderDetail.product.code|default }}</td>
                                    <td>{{ masterOrderProductDetail.saleOrderDetail.product.name|default }}</td>
                                    <td>{{ masterOrderProductDetail.saleOrderDetail.deliveryDate ? masterOrderProductDetail.saleOrderDetail.deliveryDate|date('d M Y') : '' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="cell col">
                    <table class="detail" style="width: 95%">
                        <thead>
                            <tr>
                                <th colspan="2">Urutan Proses</th>
                            </tr>
                            <tr>
                                <th>No</th>
                                <th>Proses</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for masterOrderProcessDetail in masterOrderHeader.masterOrderProcessDetails %}
                                <tr>
                                    <td style="text-align: center; width: 5%">{{ loop.index }}</td>
                                    <td>{{ masterOrderProcessDetail.workOrderProcess.name|default }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>

    <br />

    <table class="detail">
        <thead class="table-secondary">
            <tr>
                <th colspan="6">Lama Setting</th>
            </tr>
            <tr>
                <th class="text-center" rowspan="2">Shift #</th>
                <th class="text-center" rowspan="2">Tanggal</th>
                <th class="text-center" colspan="2">Jam</th>
                <th class="text-center" rowspan="2">Operator / Kenek</th>
                <th class="text-center" rowspan="2">Keterangan Setting / Downtime</th>
            </tr>
            <tr>
                <th class="text-center">Mulai</th>
                <th class="text-center">Selesai</th>
            </tr>
        </thead>
        <tfoot>
            {% for row in 0..25 %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
        </tfoot>
    </table>

    <br /><hr /><br />

    <table class="detail">
        <thead class="table-secondary">
            <tr>
                <th class="text-center" rowspan="2">Shift #</th>
                <th class="text-center" rowspan="2">Tanggal</th>
                <th colspan="2">Waktu</th>
                <th class="text-center" rowspan="2">Hasil</th>
                <th class="text-center" rowspan="2">Reject</th>
                <th class="text-center" rowspan="2">Keterangan Produksi</th>
                <th class="text-center" rowspan="2">Opr / Kenek</th>
                <th colspan="4">Pakai Material</th>
            </tr>
            <tr>
                <th class="text-center">Mulai</th>
                <th class="text-center">Selesai</th>
                <th class="text-center">OPV</th>
                <th class="text-center">UV</th>
                <th class="text-center">Alkhl</th>
                <th class="text-center">WB</th>
            </tr>
        </thead>
        <tfoot>
            {% for row in 0..35 %}
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
        </tfoot>
    </table>

    <br />

    <div class="note">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell">Catatan</div>
                        <div class="cell">: ________________________________________________________________</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="note">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell">Tanggal Pengembalian WO#</div>
                        <div class="cell">: _______________________</div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell">WO# dikembalikan oleh</div>
                        <div class="cell">: _______________________</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="signature">
        <div class="table full">
            <div class="cell sig">
                <div>Diselesaikan oleh,</div>
                <div class="blank">&nbsp;</div>
                <div>Operator</div>
            </div>
            <div class="cell sig">
                <div>Diperiksa oleh,</div>
                <div class="blank">&nbsp;</div>
                <div>Spv Prod</div>
            </div>
            <div class="cell sig">
                <div>WO# dikeluarkan oleh,</div>
                <div class="blank">&nbsp;</div>
                <div>PPIC</div>
            </div>
        </div>
    </div>
</div>