<div class="memo">
    <div class="header" style="font-size: 10px; text-align: left">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label"><img id="logo" alt="logo" max-height="300px" src="{{ asset('images/Logo.jpg') }}"></div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label" style="font-size: 14px; text-align: center">FORMULIR</div>
                    </div>
                    <div class="row">
                        <div class="cell label" style="font-size: 18px; text-align: center">PRINTING APPROVAL</div>
                    </div>
                </div>
            </div>
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label">No Dokumen</div>
                        <div class="cell label">:</div>
                        <div class="cell label">F/PCK/PPIC/8.5-10</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Revisi</div>
                        <div class="cell label">:</div>
                        <div class="cell label">0</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Tanggal</div>
                        <div class="cell label">:</div>
                        <div class="cell label"></div>
                    </div>
                    <div class="row">
                        <div class="cell label">Halaman</div>
                        <div class="cell label">:</div>
                        <div class="cell label">1 dari 1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="note">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label">No WO</div>
                        <div class="cell value">: {{ masterOrderHeader.getCodeNumber|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Tanggal Produksi</div>
                        <div class="cell value">: {{ masterOrderHeader.transactionDate|default ? masterOrderHeader.transactionDate|date('d M Y') }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Mesin</div>
                        <div class="cell value">: {{ masterOrderHeader.machinePrinting.name|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Kode Design</div>
                        <div class="cell value">: {{ masterOrderHeader.designCode.codeNumber|default }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Warna / Pantone</div>
                        <div class="cell value">: {{ masterOrderHeader.color }} / {{ masterOrderHeader.pantone }} + {{ masterOrderHeader.colorPantoneAdditional }}</div>
                    </div>
                    <div class="row">
                        <div class="cell label">Tanggal Pengerjaan</div>
                        <div class="cell value">: ____________________________________________</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <table  class="detail">
        <thead class="table-secondary">
            <tr>
                <th>PO#</th>
                <th>Kode</th>
                <th>Nama Produk</th>
                <th>Tanggal Kirim</th>
                <th>Qty Order</th>
                <th>Qty Produksi</th>
                <th>Stock</th>
                <th>Kekurangan</th>
                <th>Up Cetak</th>
            </tr>
        </thead>
        <tbody>
            {% for masterOrderProductDetail in masterOrderHeader.masterOrderProductDetails %}
                <tr>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.saleOrderHeader.referenceNumber|default }}</td>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.product.code|default }}</td>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.product.name|default }}</td>
                    <td>{{ masterOrderProductDetail.saleOrderDetail.deliveryDate ? masterOrderProductDetail.saleOrderDetail.deliveryDate|date('d M Y') : '' }}</td>
                    <td style="text-align:right">{{ masterOrderProductDetail.quantityOrder|default|number_format(0) }}</td>
                    <td style="text-align:right">{{ masterOrderProductDetail.quantityProduction|default|number_format(0) }}</td>
                    <td style="text-align:right">{{ masterOrderProductDetail.quantityStock|default|number_format(0) }}</td>
                    <td style="text-align:right">{{ masterOrderProductDetail.quantityShortage|default|number_format(0) }}</td>
                    <td>{{ masterOrderProductDetail.quantityPrinting|default }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br /><br /><br />

    <table class="detail">
        <tfoot>
            <tr>
                <td colspan="2">Kertas & Gramatur</td>
                <td style="width: 10%">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Text / Design</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Register</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 25%" rowspan="7">Warna & Raster</td>
                <td style="width: 5%; text-align: center">C</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: center">M</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: center">Y</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align: center">K</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Tarikan kiri (Atas-Bawah)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Tarikan kanan (Atas-Bawah)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Kris Cetakan</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Dieline</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Nomor per Up (mata)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Kotoran</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Powder</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Code bar per up</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">Kebersihan cetakan</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>

    <br />

    <div class="note">
        <div class="table full">
            <div class="cell col">
                <div class="table full">
                    <div class="row">
                        <div class="cell label" style="width: 10%">Catatan</div>
                        <div class="cell value">:  _____________________________________________________________</div>
                    </div>
                    <div class="row">
                        <div class="cell label" style="width: 10%">Rekomendasi</div>
                        <div class="cell value">:  _____________________________________________________________</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="signature">
        <div class="table full">
            <div class="cell sig">
                <div>Operator mesin,</div>
                <div class="blank">&nbsp;</div>
                <div>(.......................)</div>
            </div>
            <div class="cell sig">
                <div>QC inspector,</div>
                <div class="blank">&nbsp;</div>
                <div>(.......................)</div>
            </div>
            <div class="cell sig">
                <div>Spv QC,</div>
                <div class="blank">&nbsp;</div>
                <div>(.......................)</div>
            </div>
        </div>
    </div>
</div>