{% import 'app/data_grid.html.twig' as grid %}

<div class="d-print-none">
    {{ grid.form(form) }}

    <div class="my-3 px-3 bg-light" {{ grid.filter_link(form) }}>
        <div class="row">
            <div class="col">
                <div class="my-2 row">
                    <label class="col-sm-2 col-form-label w-25">Transaction Date</label>
                    <div class="col-sm-10 w-75">
                        <div class="row">
                            <div class="col">
                                <input class="form-control readonly-form-input" type="text" data-controller="flatpickr-element" {{ grid.filter_link_item(form, 'transactionDate', [form.filter['transactionDate'].0.vars.choices.0.value, true, false]) }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                            </div>
                            <div class="col">
                                <input class="form-control readonly-form-input" type="text" data-controller="flatpickr-element" {{ grid.filter_link_item(form, 'transactionDate', [form.filter['transactionDate'].0.vars.choices.0.value, false, true]) }} value="{{ form.filter.transactionDate.2.vars.value }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="my-2 row">
                    <label class="col-sm-2 col-form-label w-25">Code Number</label>
                    <div class="col-sm-10 w-75">
                        <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberOrdinal') }} value="{{ form.filter.codeNumberOrdinal.1.vars.value }}" />
                        <span><small>/{{ constant('App\\Entity\\Purchase\\ReceiveHeader::CODE_NUMBER_CONSTANT') }}/</small></span>
                        <select {{ grid.filter_link_item(form, 'codeNumberMonth') }}>
                            {% for value, label in constant('App\\Entity\\PurchaseHeader::MONTH_ROMAN_NUMERALS') %}
                                {% set val = value == 0 ? '' : value %}
                                <option value="{{ val }}" {% if form.filter.codeNumberMonth.1.vars.value == val %}selected="selected"{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                        <span><small>/</small></span>
                        <input style="width: 64px" type="number" {{ grid.filter_link_item(form, 'codeNumberYear') }} value="{{ form.filter.codeNumberYear.1.vars.value }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="my-2 row">
                    <label class="col-sm-2 col-form-label w-25">Supplier</label>
                    <div class="col-sm-10 w-75">
                        <input class="form-control" type="text" {{ grid.filter_link_item(form, 'supplier:company') }} value="{{ form.filter['supplier:company'].1.vars.value }}" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="my-2 row">
                    <label class="col-sm-2 col-form-label w-25">Warehouse</label>
                    <div class="col-sm-10 w-75">
                        <select class="form-select" {{ grid.filter_link_item(form, 'warehouse') }}>
                            <option value="" {% if form.filter.warehouse.1.vars.value == '' %}selected="selected"{% endif %}></option>
                            {% for choice in form.filter.warehouse.1.vars.choices %}
                                <option value="{{ choice.value }}" {% if form.filter.warehouse.1.vars.value == choice.value %}selected="selected"{% endif %}>{{ choice.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-grid">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary btn-sm"
                        data-controller="redirection"
                        data-redirection-url-value="{{ path('app_report_receive_header__list') }}"
                        data-redirection-form-target-value="form[name={{ form.vars.name }}]"
                        data-redirection-extra-values-param="{{ {export: 'export'}|json_encode }}"
                        data-action="redirection#redirect">
                    Export
                </button>
            </div>
        </div>
    </div>

    {{ grid.info(form, count, receiveHeaders) }}

    <hr />
</div>

<div class="report">
    <div class="report-header">
        <div class="report-title">PT. Putracipta Karindomas</div>
        <div class="report-title">Laporan Penerimaan</div>
        <div>
            {% set startDate = form.vars.value.filter.transactionDate.1|default %}
            {% set endDate = form.vars.value.filter.transactionDate.2|default %}
            {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
        </div>
    </div>

    <br />

    <table class="report-data">
        <thead class="border-top-solid-bold border-bottom-solid-bold">
            <tr>
                <th class="text-start">Penerimaan #</th>
                <th class="text-start">Tanggal</th>
                <th class="text-start">PO #</th>
                <th class="text-start">Supplier</th>
                <th class="text-start">SJ #</th>
                <th class="text-start">Tanggal Kirim</th>
                <th class="text-start">Gudang</th>
                <th class="text-start">Note</th>
            </tr>
            <tr>
                <td colspan="8">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-start">Kode</th>
                                <th class="text-start">Nama Produk</th>
                                <th class="text-start">Qty Order</th>
                                <th class="text-start">Qty Terima</th>
                                <th class="text-start">Satuan</th>
                                <th class="text-start">Memo</th>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
        </thead>
        <tbody class="border-top-solid-bold border-bottom-solid-bold">
            {% for receiveHeader in receiveHeaders %}
                <tr>
                    <td class="text-start">{{ receiveHeader.codeNumber|default }}</td>
                    <td class="text-start">{{ receiveHeader.transactionDate|default ? receiveHeader.transactionDate|date('j M Y') }}</td>
                    <td class="text-start">{{ receiveHeader.purchaseOrderHeader is null ? receiveHeader.purchaseOrderPaperHeader.getCodeNumber : receiveHeader.purchaseOrderHeader.getCodeNumber|default }}</td>
                    <td class="text-start">{{ receiveHeader.supplier.company|default }}</td>
                    <td class="text-start">{{ receiveHeader.supplierDeliveryCodeNumber|default }}</td>
                    <td class="text-start">{{ receiveHeader.purchaseOrderHeader is null ? receiveHeader.purchaseOrderPaperHeader.transactionDate ? receiveHeader.purchaseOrderPaperHeader.transactionDate|date('d M Y') : '' : receiveHeader.purchaseOrderHeader.transactionDate ? receiveHeader.purchaseOrderHeader.transactionDate|date('d M Y') : '' }}</td>
                    <td class="text-start">{{ receiveHeader.warehouse.name|default }}</td>
                    <td class="text-start">{{ receiveHeader.note|default }}</td>
                </tr>
                <tr class="border-bottom-dotted-bold">
                    <td colspan="8">
                        <table>
                            <tbody>
                                {% for receiveDetail in receiveHeader.receiveDetails %}
                                    <tr>
                                        <td class="text-start">{{ receiveDetail.material is null ? receiveDetail.paper.codeNumber|default : receiveDetail.material.code|default }}</td>
                                        <td class="text-start">{{ receiveDetail.material is null ? receiveDetail.paper.paperNameSizeCombination|default : receiveDetail.material.name|default }}</td>
                                        <td class="text-center">{{ receiveDetail.purchaseOrderDetail is null ? receiveDetail.purchaseOrderPaperDetail.quantity|default|number_format(0) : receiveDetail.purchaseOrderDetail.quantity|default|number_format(0) }}</td>
                                        <td class="text-center">{{ receiveDetail.receivedQuantity|default|number_format(0) }}</td>
                                        <td class="text-start">{{ receiveDetail.unit.name|default }}</td>
                                        <td class="text-start">{{ receiveDetail.memo|default }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot class="border-top-solid-normal">
                                <tr>
                                    <td class="text-end" colspan="3"><strong>Total Quantity</strong></td>
                                    <td class="text-center"><strong>{{ receiveHeader.totalQuantity|default|number_format(0) }}</strong></td>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="d-print-none">
    <br />
    {{ grid.navigation(form, count, receiveHeaders) }}
</div>
