{% import 'app/data_grid.html.twig' as grid %}

{{ grid.form(form) }}

{{ grid.info(form, count, productDevelopments) }}

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="product-development-table" data-controller="data-table">
        <thead>
            <tr class="table-primary" {{ grid.sort_link(form) }}>
                <th style="min-width: 280px">
                    Pengembangan #
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'transactionDate') }}>
                    Tanggal {{ grid.sort_char(form.sort.transactionDate.vars.value) }}
                </th>
                <th>
                    Development Type
                </th>
                <th role="button" {{ grid.sort_link_item(form, 'note') }}>
                    Note {{ grid.sort_char(form.sort.note.vars.value) }}
                </th>
            </tr>
            <tr class="table-light" {{ grid.filter_link(form) }}>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'transactionDate') }} value="{{ form.filter.transactionDate.1.vars.value }}" />
                </th>
                <th></th>
                <th>
                    <input type="text" {{ grid.filter_link_item(form, 'note') }} value="{{ form.filter.note.1.vars.value }}" />
                </th>
            </tr>
        </thead>
        <tbody>
            {% for productDevelopment in productDevelopments %}
                <tr data-bs-dismiss="modal" data-action="click->data-table#select" data-data-table-values-param="{{ {
                    'productDevelopmentId': productDevelopment.id,
                    'productDevelopmentCodeNumber': productDevelopment.codeNumber,
                    'productDevelopmentTypeList': productDevelopment.developmentTypeList|default ? productDevelopment.developmentTypeList|join(', ') : '',
                    'productDevelopmentDate': productDevelopment.transactionDate|default ? productDevelopment.transactionDate|date('d M Y') : ''}|json_encode }}">
                    <td>{{ productDevelopment.codeNumber }}</td>
                    <td>{{ productDevelopment.transactionDate ? productDevelopment.transactionDate|date('d M Y') : '' }}</td>
                    <td>{{ productDevelopment.developmentTypeList ? productDevelopment.developmentTypeList|join(', ') : '' }}</td>
                    <td>{{ productDevelopment.note }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ grid.navigation(form, count, productDevelopments) }}
