<table>
    <thead>
        <tr>
            <th style="text-align: center" colspan="7"><strong>PT. Putracipta Karindomas</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7"><strong>Laporan Form Produk Baru</strong></th>
        </tr>
        <tr>
            <th style="text-align: center" colspan="7">
                <strong>
                    {% set startDate = form.vars.value.filter.transactionDate.1|default %}
                    {% set endDate = form.vars.value.filter.transactionDate.2|default %}
                    {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
                </strong>
            </th>
        </tr>
        <tr>
            <th colspan="7"></th>
        </tr>
        <tr>
            <th style="text-align: center; width: 100pt"><strong>Form #</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Tanggal</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Proses</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Customer</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Kode Design</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Marketing</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Material Kertas</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Material Name</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Warna (TC/Pantone)</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Jumlah Mata (up/sheet)</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Laminating</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Coating</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Proses</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Note</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Kode Produk</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Nama Produk</strong></th>
            <th style="text-align: center; width: 100pt"><strong>Description</strong></th>
        </tr>
        <tr>
            <th colspan="15"></th>
        </tr>
    </thead>
    <tbody>
        {% for productPrototype in productPrototypes %}
            {% for productPrototypeDetail in productPrototype.productPrototypeDetails %}
                <tr>
                    <td style="text-align: left">{{ productPrototype.codeNumber|default }}</td>
                    <td style="text-align: left">{{ productPrototype.transactionDate|default ? productPrototype.transactionDate|date('j M Y') }}</td>
                    <td style="text-align: left">{{ productPrototype.developmentTypeList ? productPrototype.developmentTypeList|join(', ') : '' }}</td>
                    <td style="text-align: left">{{ productPrototype.customer.company|default }}</td>
                    <td style="text-align: left">{{ productPrototype.designCode.codeNumber|default }}</td>
                    <td style="text-align: left">{{ productPrototype.employee.name|default }}</td>
                    <td style="text-align: left">{{ productPrototype.paper.codeNumber|default }}</td>
                    <td style="text-align: left">{{ productPrototype.paper.name|default }}</td>
                    <td style="text-align: left">{{ productPrototype.color|default }}</td>
                    <td style="text-align: left">{{ productPrototype.quantityBlade }}</td>
                    <td style="text-align: left">{{ productPrototype.dataSource ? productPrototype.laminatingList|join(', ') : '' }}</td>
                    <td style="text-align: left">{{ productPrototype.dataSource ? productPrototype.coatingList|join(', ') : '' }}</td>
                    <td style="text-align: left">{{ productPrototype.dataSource ? productPrototype.processList|join(', ') : '' }}</td>
                    <td style="text-align: left">{{ productPrototype.note|default }}</td>
                    <td style="text-align: left">{{ productPrototypeDetail.product.code|default }}</td>
                    <td style="text-align: left">{{ productPrototypeDetail.product.name|default }}</td>
                    <td style="text-align: left">{{ productPrototypeDetail.product.productLengthWidthHeightCombination|default }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>